

.authBox-1HR6Ha {
    color: #72767d;
    background: var(--main-background) !important;
    border-radius: var(--bubble-radius);
}

.characterBackground-1BPOOJ .artwork-L5TAwQ {
    display: none;
}
.characterBackground-1BPOOJ {
    background: url(https://imgur.com/ZT7dQIc.png) !important;
    background-repeat: no-repeat !important;
    top: 0px;
    position: fixed;
}
.withFrame-2dL45i {
    background: transparent !important;
}

@media (min-width: 830px) {
.characterBackground-1BPOOJ .logo-3ac3fP {
    top: 20px;
    left: 50px;
    margin: 0;
}
}