/* 
 __  __  ___  _____  ___  ___  ___  ___  _       __   __  ___   _   _ 
|  \/  |/   \|_   _|| __|| _ \|_ _|/   \| |      \ \ / / / _ \ | | | |
| |\/| || - |  | |  | _| |   / | | | - || |__     \   / | (_) || |_| |
|_|  |_||_|_|  |_|  |___||_|_\|___||_|_||____|     |_|   \___/  \___/ 
                             .--------.
                             | v0.9.0 |
                             '--------' 
                Last Updated: 20/02/2022 23:23PM (UK)
          Version: Powercord (https://https://powercord.dev/)
*/

/* Required Imports */
@import "https://leeprky.github.io/themes/MaterialYouTheme/main.css";
@import "https://leeprky.github.io/themes/MaterialYouTheme/extras/powercord.css";


/* Optional Imports 
   Google Emojis */
@import "https://raw.githack.com/Davr1/Discord-CSS-snippets/main/snippets/revolt_emojis.css";

/* Animations */
@import "https://leeprky.github.io/themes/MaterialYouTheme/extras/animations.css";
 
/* Horizontal Server List (Bottom) */ /*
@import url('@import url(leeprky.github.io/themes/MaterialYouTheme/extras/horizontallist.css);');

/*
 ___  _____ __   __ _     ___  ___ 
/ __||_   _|\ \ / /| |   | __|/ __|
\__ \  | |   \   / | |__ | _| \__ \
|___/  |_|    |_|  |____||___||___/

/* Material Blue - Default 
   Add /* After When Choosing New Theme */ 
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-blue.css";

/* Material Green */ /* REMOVE
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-green.css";

/* Material Red */ /* REMOVE
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-red.css";

/* Material Pink */ /* REMOVE
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-pink.css";

/* Material Yellow */ /* REMOVE
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-yellow.css";

/* Material Grey */ /* REMOVE
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-grey.css";
:root {--material-grey-greytone: 100% !important} /* 0% For Grey 100% For Colours */

/* Material AMOLED */ /* REMOVE
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-amoled.css";
:root {--material-black-greytone: 60% !important} /* 0% For Grey 100% For Colours */

/*
 _   _  ___  ___  ___        ___  _____ __   __ _     ___  ___ 
| | | |/ __|| __|| _ \      / __||_   _|\ \ / /| |   | __|/ __|
| |_| |\__ \| _| |   /      \__ \  | |   \   / | |__ | _| \__ \
 \___/ |___/|___||_|_\      |___/  |_|    |_|  |____||___||___/
*/

/* Create Your Own Import Scheme
   Create A CSS File On A Github Using This Scheme File..
   https://github.com/leeprky/leeprky.github.io/blob/gh-pages/themes/MaterialYouTheme/styles/material-user-preset.css
   
   Then Copy Link And Place Inside () */
   
   @import url();

   /* */

   
/*
 _____  ___  ___  _  _  ___  ___  ___  ___  ___  _  _   ___ __   __
|_   _|| _ \/   \| \| |/ __|| _ \/   \| _ \| __|| \| | / __|\ \ / /
  | |  |   /| - || .  |\__ \|  _/| - ||   /| _| | .  || (__  \   / 
  |_|  |_|_\|_|_||_|\_||___/|_|  |_|_||_|_\|___||_|\_| \___|  |_|  

  TRANSPARENCY ENABLED IN BETTERDISCORD / POWERCORD REQUIRED (GLASSCORD OPTIONAL FOR BLUR ON POWERCORD */

/* REMOVE
@import "https://leeprky.github.io/themes/MaterialYouTheme/extras/glasscord.css";
.transparent {--glasscord-win-blur: blurbehind;--glasscord-linux-blur: true;--glasscord-macos-vibrancy: fullscreen-ui;--background-accent: var(--glasscord-accent); --background-floating: var(--glasscord-floating); --glasscord-primary: var(--glasscord-current-style-bg) !important;}

/* USE TO SET A MANUAL BACKGROUND (IT FOLLOWS THE SCHEME OTHERWISE) */
/* REMOVE
:root {--glasscord-current-style-bg: black !important}

/*
  ___  _   _  ___  _____   ___   __  __        ___  _____ __   __ _     ___ 
 / __|| | | |/ __||_   _| / _ \ |  \/  |      / __||_   _|\ \ / /| |   | __|
| (__ | |_| |\__ \  | |  | (_) || |\/| |      \__ \  | |   \   / | |__ | _| 
 \___| \___/ |___/  |_|   \___/ |_|  |_|      |___/  |_|    |_|  |____||___|
     DELETE THE /* ABOVE .theme-dark             And Add /* To The Import
*/

/*
.theme-dark {
  --main-colour: 90, 130, 179 !important;
  --main-colour2: #5a82b3 !important; 
  --main-colour3: 213 !important; 
  --main-background: #152029 !important;
  --secondary-background: #111a22 !important;
  --tertiary: #000000 !important;
  --floating: #0e151c !important;

  --headers: #b2cef0 !important; 
  --headers-secondary: #a9caf2 !important;
  
  --namesusernames: #d1e0f2 !important;
  --text: #d1e0f2 !important;
  --text-positive1: var(--green-color) !important;
  --muted: #d1e0f2 !important;
  --links: var(--alt-color2) !important;
  --button-interactive: #cbdcf2 !important;
  --button-interactive-hover: var(--main-colour2) !important;
  --button-interactive-active: #b2cef0 !important;
  --button-interactive-muted: #b2cef0 !important;
}
.theme-light {
  --main-colour: 113, 164, 226 !important; 
  --main-colour2: #71a4e2 !important; 
  --main-colour3: 213 !important; 

  --main-background: #ebf3fc !important;
  --secondary-background: rgb(219, 236, 255) !important;
  --tertiary: #ffffff !important;
  --floating: #ffffff !important;

  --headers: #343c46 !important; 
  --headers-secondary: #1c2127 !important;
  
  --namesusernames: #272a2e !important;
  --text: #1e2022 !important;
  --text-positive1: var(--green-color) !important;
  --muted: #18191b !important;
  --links: var(--alt-color2) !important;
  --button-interactive: #15171a !important;
  --button-interactive-hover: var(--main-colour2) !important;
  --button-interactive-active: #15191d !important;
  --button-interactive-muted: #13161a !important;
}

/*
 ___ __  __ _____  ___  ___  ___ 
| __|\ \/ /|_   _|| _ \/   \/ __|
| _|  >  <   | |  |   /| - |\__ \
|___|/_/\_\  |_|  |_|_\|_|_||___/
     Customisable Features
*/

:root {

  /* Only Needed For Horizontal Server List Enabled */
  --HSL-server-icon-size: 40px;  
  --HSL-server-spacing: 10px;  
  --HSL-server-direction: column; 

  --scrollbars: flex; /* Flex To See Scrollbars / None For None */

  --display-notes-in-popout: none;

  --spotify-title-in-music-player: block; /* None To Remove Spotify From Spotify Player In Powercord / Block To Display It */
  --topbar-label-buttons: flex; /* None To Remove Labels / Flex To Display Lables */

  --bubble-radius: 25px !important; /* Radius Of Things */
  --bubble-padding-small: 9px !important; /* The Space Around The Content Of The Bubble */
  --bubble-padding-large: 12px !important; /* The Space Around The Content Of The Bubble */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581 !important; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */

  --sidebar-fade: 92%;
}

/*
   ___  _____    
 .'/,-Y"     "~-.  
 l.Y             ^.           
 /\               _\_  
i            ___/"   "\ 
|          /"   "\   o !   
l         ]     o !__./   
 \ _  _    \.___./    "~\  
  X \/ \            ___./        
 ( \ ___.   _..--~~"   ~`-.  
  ` Z,--   /               \    
    \__.  (   /       ______) 
      \   l  /-----~~" /         >>  Made By Leeprky#2063 <<
       Y   \          /                 
       |    "x______.^ 
       |           \    
       |            \

  ___  ___  ___  ___   ___  _____  ___ 
 / __|| _ \| __||   \ |_ _||_   _|/ __|
| (__ |   /| _| | |) | | |   | |  \__ \
 \___||_|_\|___||___/ |___|  |_|  |___/

 > Thanks To:
   > crearts-community
     > https://github.com/CreArts-Community

   > Any Snippits From Other Developers In Powercord/Betterdiscord Servers

/*
 ___   ___  _  _   ___   ___  ___ 
|_ _| / __|| \| | / _ \ | _ \| __|
 | | | (_ || .  || (_) ||   /| _| 
|___| \___||_|\_| \___/ |_|_\|___|
*/

:root {--outdated_materialyou-090: none !important; --version: "0.9.0.PC" !important; --build: "090" !important; 
      --main-background-alternative: var(--main-background);--secondary-background-alternative: var(--secondary-background);--accent: var(--alt-color2);--green-color: var(--alt-color2); /* HEX ONLY */--green-color2: var(--alt-color); /* RGB ONLY */--green-bar-on: rgba(var(--alt-color), 0.3); /* RGBA ONLY */--green-bar-bg: var(--green-color); /* RGB ONLY */--green-slider-on: var(--green-color); /* RGB ONLY */--green-slider-off: rgba(var(--alt-color), 0.4); /* RGBA ONLY */--green-slider-dot: #fff;--rs-online-color: var(--main-colour2);  /* Colour for online status */--chatbox-colour: var(--background-secondary);--mentioned: rgba(var(--alt-color), 0.4);--mentioned-hover: rgba(var(--alt-color), 0.2); --main-hover: rgba(var(--alt-color), 0.2);--main-hover-active: rgba(var(--alt-color), 0.8);--main-hover-selected: rgba(var(--alt-color), 0.5); --main-hover-accent: rgba(var(--alt-color), 0.1); --scrollbar-small: rgba(var(--alt-color), 0.2);--scrollbar-small-track: transparent;--scrollbar-large-thumb: rgba(var(--alt-color), 0.4); --scrollbar-large-track: rgba(var(--alt-color), 0.2);--scrollbar-small-scrollbar-color: rgba(var(--alt-color), 0.4); --scrollbar-small-scrollbar-color-track: rgba(var(--alt-color), 0.2);--default-gradient: 315deg, rgba(var(--alt-color), 0.6) 0%, rgba(var(--alt-color), 0.8) 74%;--special-gradient: 315deg, rgba(var(--alt-color), 0.1) 0%, #c987b8 74%;--red-gradient: 315deg, #AA3738 0%, #F04747 74%;--red-hsl: hsl(359, 63%, 53%);--yellow-gradient: 315deg, #c29b1b 0%, #ffa640 74%;--yellow-hsl: hsl(46, 72%, 52%);--green-gradient: 315deg, #507a73 0%, #4b7c72  74%;--grey-gradient: 315deg, rgba(var(--alt-color), 0.6) 0%, rgba(var(--alt-color), 0.8) 74%;--white-gradient: 315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.342) 74%;--font-normal: 500;--font-hover: bold;--font-size-hover: 15px;--hover-transition: 0.1s linear;--transform-normal: scale(1);--hover-transform: scale(1.15);--setting-hover-transform: scale(1.025);--button-hover-transform: scale(1.03);--info-warning: var(--alt-color2);--help-warning: var(--alt-color2); --help-info: var(--alt-color2);--radio-group-dot: var(--alt-color);--shadow-stroke: 0 0 0 1px rgba(4,4,5,0.15);--shadow-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);--shadow-medium: 0 4px 4px rgba(0,0,0,0.16);--shadow-high: 0 8px 16px rgba(0,0,0,0.24);}

/* DEV VERSION DISPLAY */
:root{--version-display: flex} /* Display Version Number Above Chat Box */ /*




 ___  ___   ___         ___  _  _ __   __ _____  _  _  ___  _  _   ___        ___  ___  _      ___  __      __
/   \|   \ |   \       /   \| \| |\ \ / /|_   _|| || ||_ _|| \| | / __|      | _ )| __|| |    / _ \ \ \    / /
| - || |) || |) |      | - || .  | \   /   | |  | __ | | | | .  || (_ |      | _ \| _| | |__ | (_) | \ \/\/ / 
|_|_||___/ |___/       |_|_||_|\_|  |_|    |_|  |_||_||___||_|\_| \___|      |___/|___||____| \___/   \_/\_/  
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */



