/* 
 __  __  ___  _____  ___  ___  ___  ___  _       __   __  ___   _   _ 
|  \/  |/   \|_   _|| __|| _ \|_ _|/   \| |      \ \ / / / _ \ | | | |
| |\/| || - |  | |  | _| |   / | | | - || |__     \   / | (_) || |_| |
|_|  |_||_|_|  |_|  |___||_|_\|___||_|_||____|     |_|   \___/  \___/ 
                             .--------.
                             | v0.0.1 |
                             '--------'
*/

@import "https://leeprky.github.io/themes/MaterialYouTheme/main.css";
@import url(https://raw.githack.com/DavidNyan10/GoogleMaterialIcons/main/GoogleMaterialIcons.css);

@import url('https://corellanstoma.github.io/Menu-Icons/index.css');
@import url("https://crearts-community.github.io/Settings-Icons/clients/powercord.css");
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");

/*
 ___  _____ __   __ _     ___  ___ 
/ __||_   _|\ \ / /| |   | __|/ __|
\__ \  | |   \   / | |__ | _| \__ \
|___/  |_|    |_|  |____||___||___/
*/

/* Material Blue */ /* Default */ /* */ 
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-blue.css";

/* Material Green */ /*
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-green.css";

/* Material Red */ /*
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-red.css";

/* Material Pink */ /*
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-pink.css";

/* Material Yellow */ /*
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-yellow.css";

/* Material Grey */ /*
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-grey.css";
:root {--material-grey-greytone: 100% !important} /* 0% For Grey 100% For Colours */

/* Material AMOLED */ /*
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-amoled.css";
:root {--material-black-greytone: 0% !important} /* 0% For Grey 100% For Colours */
/* */

/* 
  ___  _   _  ___  _____   ___   __  __ 
 / __|| | | |/ __||_   _| / _ \ |  \/  |
| (__ | |_| |\__ \  | |  | (_) || |\/| |
 \___| \___/ |___/  |_|   \___/ |_|  |_|
     DELETE THE /* ABOVE .theme-dark
  And Add /* To The Import Chosen Above
*/

/*
.theme-dark {
  --main-colour: 90, 130, 179 !important;
  --main-colour2: #5a82b3 !important; 
  --main-colour3: 213 !important; 
  --main-background: #152029 !important;
  --secondary-background: #111a22 !important;
  --tertiary: #000000 !important;
  --floating: #0e151c !important;

  --headers: #b2cef0 !important; 
  --headers-secondary: #a9caf2 !important;
  
  --namesusernames: #d1e0f2 !important;
  --text: #d1e0f2 !important;
  --text-positive1: var(--green-color) !important;
  --muted: #d1e0f2 !important;
  --links: var(--alt-color2) !important;
  --button-interactive: #cbdcf2 !important;
  --button-interactive-hover: var(--main-colour2) !important;
  --button-interactive-active: #b2cef0 !important;
  --button-interactive-muted: #b2cef0 !important;
}
.theme-light {
  --main-colour: 113, 164, 226 !important; 
  --main-colour2: #71a4e2 !important; 
  --main-colour3: 213 !important; 

  --main-background: #ebf3fc !important;
  --secondary-background: rgb(219, 236, 255) !important;
  --tertiary: #ffffff !important;
  --floating: #ffffff !important;

  --headers: #343c46 !important; 
  --headers-secondary: #1c2127 !important;
  
  --namesusernames: #272a2e !important;
  --text: #1e2022 !important;
  --text-positive1: var(--green-color) !important;
  --muted: #18191b !important;
  --links: var(--alt-color2) !important;
  --button-interactive: #15171a !important;
  --button-interactive-hover: var(--main-colour2) !important;
  --button-interactive-active: #15191d !important;
  --button-interactive-muted: #13161a !important;
}

/*
  ___  _     ___  ___  ___   ___   ___   ___  ___  
 / __|| |   /   \/ __|/ __| / __| / _ \ | _ \|   \ 
| (_ || |__ | - |\__ \\__ \| (__ | (_) ||   /| |) |
 \___||____||_|_||___/|___/ \___| \___/ |_|_\|___/ 
            REMOVE /* Above @import
*/

/*
@import "https://leeprky.github.io/themes/MaterialYouTheme/extras/glasscord.css";
.theme-dark {--glasscord-win-blur: blurbehind;--glasscord-linux-blur: true;--glasscord-macos-vibrancy: fullscreen-ui;--background-accent: var(--glasscord-accent); --background-floating: var(--glasscord-floating); --glasscord-primary: var(--glasscord-current-style-bg) !important;}.theme-light {--glasscord-primary: var(--glasscord-current-style-bg) !important;}
/* */

/*
 ___ __  __ _____  ___  ___  ___ 
| __|\ \/ /|_   _|| _ \/   \/ __|
| _|  >  <   | |  |   /| - |\__ \
|___|/_/\_\  |_|  |_|_\|_|_||___/
     Customisable Features
*/

:root {
  --scrollbars: flex; /* Flex To See Scrollbars / None For None */

  --spotify-title-in-music-player: block; /* None To Remove Spotify From Spotify Player In Powercord / Block To Display It */

  --bubble-radius: 25px !important; /* Radius Of Things */
  --bubble-padding-small: 9px !important; /* The Space Around The Content Of The Bubble */
  --bubble-padding-large: 12px !important; /* The Space Around The Content Of The Bubble */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581 !important; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */

  --sidebar-fade: 92%;
}

/*
   ___  _____    
 .'/,-Y"     "~-.  
 l.Y             ^.           
 /\               _\_  
i            ___/"   "\ 
|          /"   "\   o !   
l         ]     o !__./   
 \ _  _    \.___./    "~\  
  X \/ \            ___./        
 ( \ ___.   _..--~~"   ~`-.  
  ` Z,--   /               \    
    \__.  (   /       ______) 
      \   l  /-----~~" /         >>  Made By Leeprky#2063 <<
       Y   \          /                 
       |    "x______.^ 
       |           \    
       |            \
*/

/*
 ___   ___  _  _   ___   ___  ___ 
|_ _| / __|| \| | / _ \ | _ \| __|
 | | | (_ || .  || (_) ||   /| _| 
|___| \___||_|\_| \___/ |_|_\|___|
*/

:root {--outdated_materialyou-001: none !important; --version: "0.0.1C" !important; --build: "001" !important; --im-aware: none;
      --main-background-alternative: var(--main-background);--secondary-background-alternative: var(--secondary-background);--accent: var(--alt-color2);--green-color: var(--alt-color2); /* HEX ONLY */--green-color2: var(--alt-color); /* RGB ONLY */--green-bar-on: rgba(var(--alt-color), 0.3); /* RGBA ONLY */--green-bar-bg: var(--green-color); /* RGB ONLY */--green-slider-on: var(--green-color); /* RGB ONLY */--green-slider-off: rgba(var(--alt-color), 0.4); /* RGBA ONLY */--green-slider-dot: #fff;--rs-online-color: var(--main-colour2);  /* Colour for online status */--chatbox-colour: var(--background-secondary);--mentioned: rgba(var(--alt-color), 0.4);--mentioned-hover: rgba(var(--alt-color), 0.2); --main-hover: rgba(var(--alt-color), 0.2);--main-hover-active: rgba(var(--alt-color), 0.8);--main-hover-selected: rgba(var(--alt-color), 0.5); --main-hover-accent: rgba(var(--alt-color), 0.1); --scrollbar-small: rgba(var(--alt-color), 0.2);--scrollbar-small-track: transparent;--scrollbar-large-thumb: rgba(var(--alt-color), 0.4); --scrollbar-large-track: rgba(var(--alt-color), 0.2);--scrollbar-small-scrollbar-color: rgba(var(--alt-color), 0.4); --scrollbar-small-scrollbar-color-track: rgba(var(--alt-color), 0.2);--default-gradient: 315deg, rgba(var(--alt-color), 0.6) 0%, rgba(var(--alt-color), 0.8) 74%;--special-gradient: 315deg, rgba(var(--alt-color), 0.1) 0%, #c987b8 74%;--red-gradient: 315deg, #AA3738 0%, #F04747 74%;--red-hsl: hsl(359, 63%, 53%);--yellow-gradient: 315deg, #c29b1b 0%, #ffa640 74%;--yellow-hsl: hsl(46, 72%, 52%);--green-gradient: 315deg, #507a73 0%, #4b7c72  74%;--grey-gradient: 315deg, rgba(var(--alt-color), 0.6) 0%, rgba(var(--alt-color), 0.8) 74%;--white-gradient: 315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.342) 74%;--font-normal: 500;--font-hover: bold;--font-size-hover: 15px;--hover-transition: 0.1s linear;--transform-normal: scale(1);--hover-transform: scale(1.15);--setting-hover-transform: scale(1.025);--button-hover-transform: scale(1.03);--info-warning: var(--alt-color2);--help-warning: var(--alt-color2); --help-info: var(--alt-color2);--radio-group-dot: var(--alt-color);--shadow-stroke: 0 0 0 1px rgba(4,4,5,0.15);--shadow-low: 0 1px 0 rgba(18, 20, 36, 0.767),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);--shadow-medium: 0 4px 4px rgba(0,0,0,0.16);--shadow-high: 0 8px 16px rgba(0,0,0,0.24);}

/*
 ___  ___   ___         ___  _  _ __   __ _____  _  _  ___  _  _   ___        ___  ___  _      ___  __      __
/   \|   \ |   \       /   \| \| |\ \ / /|_   _|| || ||_ _|| \| | / __|      | _ )| __|| |    / _ \ \ \    / /
| - || |) || |) |      | - || .  | \   /   | |  | __ | | | | .  || (_ |      | _ \| _| | |__ | (_) | \ \/\/ / 
|_|_||___/ |___/       |_|_||_|\_|  |_|    |_|  |_||_||___||_|\_| \___|      |___/|___||____| \___/   \_/\_/  
/* -==-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -==-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */






:root {
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */
}

.scroller-3X7KbA {
  background-color: var(--secondary-background);
}
/* Background */
body {
  background-color: transparent !important;
}
#app-mount {
  border-radius: 14px;
}

/* Main */
::-webkit-scrollbar {
  display: var(--scrollbars);
}

/* Windows Bar */
.withFrame-2dL45i {
  height: 15px;
  margin-top: 0px;
  position: relative;
  background-color: var(--background-primary);
}
.winButton-3UMjdg {
  transform: scale(1);
  height: 31px;
  border-radius: var(--bubble-radius);
  width: 32px;
  right: 10px;
  margin-top: 22px;
  padding-left: 6px;
  padding-right: 6px;
}
[role="button"][aria-label="Close"]:hover {
  background-color: var(--main-colour2);
}
.wordmark-2u86JB:after {
  color: rgb(247, 245, 245);
  content: ""var(--wordmark-text)" | " var(--version)"";
  display: var(--watermark);
  font-size: 14.5px;
  font-weight: 700;
  position: absolute;
  width: 4000px;
  top: 10px;
  left: -40%;
}
.wordmark-2u86JB > svg {width: 0px;}

/* Titlebar */
.title-17SveM, .toolbar-3_r2xA, .children-3xh0VB {
  margin-right: 140px;
  margin-bottom: 10px !important;
  background-color: transparent !important;
}
.children-3xh0VB {
  margin-right: 0px;
}
.title-17SveM {
  margin-bottom: -0px !important;
  margin: 0px !important;
}
.iconWrapper-2awDjA::after {
  content: attr(aria-label);
  font-size: 15px;
  padding-left: 30px;
  padding-right: 2px;
  bottom: 25px;
  position: relative;
  text-transform: capitalize;
}
.iconWrapper-2awDjA:hover {
  color: var(--alt-color2);
}
[class="icon-1ELUnB iconWrapper-2awDjA clickable-ZD7xvu"] {
  padding-right: -10px !important;
  margin-left: 40px !important;
  position: relative;
}
.clickable-ZD7xvu .icon-2xnN2Y {
  bottom: 0px !important;
  position: relative;
  transform: scale(0.8);
  margin-top: -3px;
}
.icon-1ELUnB::after {
  bottom: 0px;
  left: -20px;
}
.icon-2xnN2Y[width="24"][height="24"][viewBox="0 0 24 24"] { bottom: 50px !important;
  margin-top: -3px;
}
.icon-2xnN2Y {
  margin-top: 2px;
  top: -3px;
}
.iconWrapper-2awDjA[aria-label="Threads"] svg.icon-2xnN2Y {
  top: 1px;
}
.container-ZMc96U.themed-Hp1KC_ {
  left: -0px;
  top: 15px;
  position: fixed;
  z-index: 99;
}
.children-3xh0VB .iconWrapper-2awDjA .icon-2xnN2Y {
  left: 4px;
  top: -3px;
  position: relative;
}



.homeIcon-r0w4ny path {display:none}
.homeIcon-r0w4ny {
background-repeat: no-repeat;
background-size: contain;
background-position: center;
transform: scale(0.95);
}
.theme-dark .homeIcon-r0w4ny {
  background-image: url(https://raw.githubusercontent.com/leeprky/leeprky.github.io/gh-pages/images/Themes/MaterialYouTheme/material-home-icon-dark.png);
}
.theme-light .homeIcon-r0w4ny {
  background-image: url(https://raw.githubusercontent.com/leeprky/leeprky.github.io/gh-pages/images/Themes/MaterialYouTheme/material-home-icon-light.png);
}

@media only screen and (max-width: 1220px) {
  .toolbar-3_r2xA .iconWrapper-2awDjA::after {
    display: none;
  }
}

/* Bubble Padding */
.topic-11NuQZ {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  margin: 0 0 0 8px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: var(--headers-secondary);
}
.title-17SveM {
  background-color: rgba(var(--alt-color), 0.2);
  border-radius: var(--bubble-radius);
  padding: var(--bubble-padding-small);
  height: 30px !important;
  margin-left: 260px !important;
  font-size: 15px;
  text-transform: capitalize;
}
.divider-q3P9HC {
  background: rgba(var(--main-colour), 30%) !important;
  border-radius: 100%;
  width: 3px;
  height: 15px;
}
[class="followButton-1N-GGp button-f2h6uQ lookFilled-yCfaCM colorPrimary-2AuQVo sizeMin-DfpWCE grow-2sR_-F"] {
  border-radius: var(--bubble-radius);
  margin-left: 10px;
}

.iconWrapper-2awDjA {
  background-color: rgba(var(--alt-color), 0.2);
  border-radius: var(--bubble-radius);
  padding: var(--bubble-padding-small);
  height: 30px !important;
}


.chatContent-3KubbW {
  background-color: var(--background-secondary);
}

.bg-1QIAus {
  background-color: var(--background-secondary);
}


/* Channel List */
@font-face {
  font-family: dash2space;
   unicode-range: U+002D;
  src: url(https://smarty6788.github.io/Dash2Space/src/font/dash2space.ttf) format('truetype'), url(https://smarty6788.github.io/Dash2Space/font/dash2space.woff2) format('woff2')
  }
  #app-mount [data-list-item-id*="channels___upcoming-events-"]>div.name-28HaxV {
  font-size: 14px;
  font-family: dash2space, var(--font-primary);
  text-transform: capitalize
  }
  .autocompleteRowVertical-EA9dCg[data-list-item-id*=channel-autocomplete] .autocompleteRowContentPrimary-1kUW9H .colorInteractiveActive-30E9n8,
  .content-2a4AW9 .emptyChannelIcon-1YdEz2~.size32-5yOQel,
  .quickswitcher-pKcM9U .result-u66Ywh .match-20K5f5,
  .sidebar-1tnWFu .mainContent-20q_Hp[href] .channelName-3KPsGw,
  .title-31SJ6t .iconWrapper-2awDjA+.title-17SveM,
  .wrapper-1ZcZW-[class="wrapper-1ZcZW- mention interactive"] {
  font-family: dash2space, var(--font-primary);
  text-transform: capitalize
  }
  .sidebar-1tnWFu {
      border-radius: 0px !important;
  }
  .iconContainer-21RCa3 {
    transform: scale(0.7);
  }
  .channelName-3KPsGw {
    transform: scale(0.93);
    margin-left: -5px;
  }
  .unread-36eUEm {
    padding-right: 0px;
    margin-left: 20px;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    z-index: 999;
    margin-top: -6px;
  }
  @font-face {
    font-family: dash2space;
    unicode-range: U+002D;
    src: url(https://smarty6788.github.io/Dash2Space/src/font/dash2space.ttf) format('truetype'), url(https://smarty6788.github.io/Dash2Space/font/dash2space.woff2) format('woff2')
}

.title-17SveM {
text-transform: capitalize;
font-family: dash2space, var(--font-primary);
}


  
.guilds-2JjMmN {
  width: 81.2px;
  position:relative;
  margin-top: 40px;
  padding-bottom: 00px;
}
.container-1NXEtd {
  margin-top: 48px;
}

.scroller-3X7KbA {
  padding: 5.5px;
  padding-top: 20px !important;
}

.fade-1R6FHN {
  -webkit-mask-image: linear-gradient(to bottom, black var(--sidebar-fade), transparent 100%);
}

.platform-win .sidebar-1tnWFu, .container-1NXEtd, .platform-win .layers-OrUESM, .platform-win .layers-1YQhyW, .platform-win .layers-OrUESM > .layer-86YKbF, .platform-win .container-1eFtFS {
  overflow: visible;
}




.search-39IXmY {
  margin: 0 8px;
} 
.searchBar-jGtisZ  {
  background-color: rgba(var(--alt-color), 0.2); 
  border-radius: var(--bubble-radius);
  width: 82px;
  transition: 300ms;
  height: 30px !important;
}
[class="search-1FM8Qc open-3y3yI_ focused-8aNhVB"] .searchBar-jGtisZ, [class="search-1FM8Qc open-3y3yI_"] .searchBar-jGtisZ {
  width: 162px;
  transition: 300ms;
}
.searchBar-jGtisZ .icon-tZMHgY {
  margin-right: 150px;
  position: absolute;
}
.icon-18rqoe {
  color: var(--button-interactive) !important;
  transform: scale(1.1) !important;
  margin-top: 3px;
  margin-left: -00px; 
}
.search-2Mwzzq .DraftEditor-root .public-DraftEditor-content, .search-2Mwzzq .DraftEditor-root .public-DraftEditorPlaceholder-root {
  color: var(--text) !important;
  margin-top: 2px;
  margin-left: 23px !important;
}
.searchBar-jGtisZ {
  margin-top: -1px;
  margin-left: 0px;
}

[class="container-2McqkF elevationBorderHigh-3drnJX"][style="width: 320px;"] {
  margin-top: 15px !important;
  position: absolute;
  left: -190px !important;
  border-radius: var(--bubble-radius);
  background-color: var(--floating);
}
.theme-dark .option-ayUoaq:after {
  background: none;
}


.members-3WRCEx, .members-3WRCEx>div {
  padding-top: 25px;
}
[class="membersWrap-3NUR2t hiddenMembers-8kpYM0"] {
  margin-top: -1px;
  z-index: 1;
}
.membersGroup-2eiWxl {
  padding: 14px 22px 12px 16px;
  height: 40px;
}
.roleIcon-2cey4v {
  margin-right: 10px;
}

.container-YkUktl {
  height: 45px;
  position: relative;
  bottom : 20px;
  background-color: var(--background-primary);
  border-radius: var(--bubble-radius);
}
.powercord-spotify.hover .container-YkUktl {
  height: 135px;
  position: relative;
  background-color: var(--background-primary);
  border-radius: var(--bubble-radius);
}
.activityPanel-9icbyU {
  height: 30px;
  position: relative;
  bottom : 25px;
  background-color: var(--background-primary);
  border-radius: var(--bubble-radius);
  margin-top: 10px;
}
#app-mount .lookFilled-yCfaCM.colorBrand-I6CyqQ:not(.buttonActive-Uc1jHx) {
  border-radius: var(--bubble-radius) !important;
}
.actionButtons-2vEOUh {
  margin-top: 4px;
}
.container-1zzFcN {
  height: 72px;
  position: relative;
  bottom : 25px;
  margin-top: 5px;
  background-color: var(--background-primary);
  border-radius: var(--bubble-radius);
}

:root { --spotify-color: var(--main-colour2)
}
.powercord-spotify.hover .nameTag-sc-gpq, .powercord-spotify.hover .spotify-buttons button {
  margin-top: -38px;
  transition: 300ms;
}
.powercord-spotify.hover .avatar-1EWyVD.spotify-cover {
  top: -19px !important;
  transform: scale(0.9);
  position: relative;
  transition: 300ms;
}
.powercord-spotify.hover .spotify-extra-controls {
  margin-top: -35px;
  transition: 300ms;
}
.powercord-spotify.hover [class="flex-2S1XBF flex-3BkGQD horizontal-112GEH horizontal-1Piu5- flex-3BkGQD directionRow-2Iu2A9 justifyStart-2Mwniq alignStretch-Uwowzr noWrap-hBpHBz spotify-buttons"] [aria-label="Mute"] {
  top: 5px;
  display: flex !important;
}
[class="flex-2S1XBF flex-3BkGQD horizontal-112GEH horizontal-1Piu5- flex-3BkGQD directionRow-2Iu2A9 justifyStart-2Mwniq alignStretch-Uwowzr noWrap-hBpHBz spotify-buttons"] [aria-label="Mute"] {
  display: none;
}
.powercord-spotify.hover .title-338goq::after {
  content: "Spotify";
  position: absolute;
  background-color: rgba(var(--main-colour), 50%);
  border-radius: var(--bubble-radius);
  padding: 2px;
  right: 10px;
  top: 10px;
  width: 65px;
  text-align: center;
  font-size: 14px;
  display: var(--spotify-title-in-music-player);
}
 .spotify-extra-controls {
   position: relative;
   top: -45px;
   transition: 300ms;
   border-radius: var(--bubble-radius);
 }
 .powercord-spotify.hover .spotify-seek {
   position: relative;
   top: -45px;
   left: 15px;
   width: 212px;
   transition: 300ms;
   border-radius: var(--bubble-radius);
 }
 .powercord-spotify .spotify-seek-bar {
  background-color: rgba(var(--alt-color),30%);
  border-radius: var(--bubble-radius);
 }
 .spotify-seek-duration {
   top: 22px;
   left: -5px;
   transform: scale(0.8);
   position: relative;
   border-radius: var(--bubble-radius);
 }

.scrollableContainer-15eg7h {
  background-color: var(--background-primary) !important;
  border-radius: var(--bubble-radius) !important;
}
.channelTextArea-1FufC0 {
  background-color: transparent;
}
.button-12Fmur {
  border-radius: var(--bubble-radius);
}

.header-3OsQeK {
  position: fixed;
  overflow: hidden;
  top: 10px;
  left: 65px;
  z-index: 99999;
  font-size: 14px !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.header-3OsQeK:hover {
  color: var(--button-interactive);
}
[style="height: 84px;"] {
  display: none;
}
[class*="animatedContainer-"] {
  opacity: 0.2 !important;
}
[class*="animatedContainer-"] > [class*="bannerImage-"] {
  transition: margin .25s;
}
:not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
  opacity: .1 !important;
  height: 168px;
}
.animatedContainer-2laTjx{
  box-shadow: none !important;
}
.animatedContainer-2laTjx:after{
background: linear-gradient(00deg, var(--background-secondary) 30%, transparent 100%);
position:absolute;
content: '';
height:30px;
width:100%;
bottom: 0;
}
.name-3Uvkvr {
  color: var(--button-interactive);
  max-width: 220px;
}
