/* 
 __  __  ___  _____  ___  ___  ___  ___  _       __   __  ___   _   _ 
|  \/  |/   \|_   _|| __|| _ \|_ _|/   \| |      \ \ / / / _ \ | | | |
| |\/| || - |  | |  | _| |   / | | | - || |__     \   / | (_) || |_| |
|_|  |_||_|_|  |_|  |___||_|_\|___||_|_||____|     |_|   \___/  \___/ 
                             .--------.
                             | v0.9.2 |
                             '--------' 
                Last Updated: 22/02/2022 21:16PM (UK)
          Version: Powercord (https://https://powercord.dev/)
*/

/* Required Imports */

@import 'Files/files.scss';
@import "Files/Extra/Clients/powercord.scss";

/* Google Emojis */


@import "https://raw.githack.com/Davr1/Discord-CSS-snippets/main/snippets/revolt_emojis.css";

/* Animations */


@import "Files/Extra/animations.scss";

/* Horizontal Server List (Bottom) */

/* REMOVE
@import 'files/Extra/horizontalserverlist.scss';

/*
 ___  _____ __   __ _     ___  ___ 
/ __||_   _|\ \ / /| |   | __|/ __|
\__ \  | |   \   / | |__ | _| \__ \
|___/  |_|    |_|  |____||___||___/

/* Material Blue - Default */


@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-blue.css";

/* Material Green */

/* REMOVE
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-green.css";

/* Material Red */

/* REMOVE
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-red.css";

/* Material Pink */

 /* REMOVE
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-pink.css";

/* Material Yellow */

/* REMOVE
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-yellow.css";

/* Material Grey */

/* REMOVE
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-grey.css";
:root {--material-grey-greytone: 100% !important} /* 0% For Grey 100% For Colours */

/* Material AMOLED */

/* REMOVE
@import "https://leeprky.github.io/themes/MaterialYouTheme/styles/material-amoled.css";
:root {--material-black-greytone: 60% !important} /* 0% For Grey 100% For Colours */

/*
 _   _  ___  ___  ___        ___  _____ __   __ _     ___  ___ 
| | | |/ __|| __|| _ \      / __||_   _|\ \ / /| |   | __|/ __|
| |_| |\__ \| _| |   /      \__ \  | |   \   / | |__ | _| \__ \
 \___/ |___/|___||_|_\      |___/  |_|    |_|  |____||___||___/
*/

/* Create Your Own Import Scheme
   Create A CSS File On A Github Using This Scheme File..
   https://github.com/leeprky/leeprky.github.io/blob/gh-pages/themes/MaterialYouTheme/styles/material-user-preset.css
   
   Then Copy Link And Place Inside () */

@import url();

/* */

/*
 _____  ___  ___  _  _  ___  ___  ___  ___  ___  _  _   ___ __   __
|_   _|| _ \/   \| \| |/ __|| _ \/   \| _ \| __|| \| | / __|\ \ / /
  | |  |   /| - || .  |\__ \|  _/| - ||   /| _| | .  || (__  \   / 
  |_|  |_|_\|_|_||_|\_||___/|_|  |_|_||_|_\|___||_|\_| \___|  |_|  

TRANSPARENCY ENABLED IN BETTERDISCORD / POWERCORD REQUIRED (GLASSCORD OPTIONAL FOR BLUR ON POWERCORD */

/* REMOVE
@import "files/Extra/glasscord.scss";
.transparent {--glasscord-win-blur: blurbehind;--glasscord-linux-blur: true;--glasscord-macos-vibrancy: fullscreen-ui;--background-accent: var(--glasscord-accent); --background-floating: var(--glasscord-floating); --glasscord-primary: var(--glasscord-current-style-bg) !important;}

/* REMOVE FOR CUSTOM BACKGROUND
:root {--glasscord-current-style-bg: black !important} /* CHANGE TO url() !important for image */

/*
  ___  _   _  ___  _____   ___   __  __        ___  _____ __   __ _     ___ 
 / __|| | | |/ __||_   _| / _ \ |  \/  |      / __||_   _|\ \ / /| |   | __|
| (__ | |_| |\__ \  | |  | (_) || |\/| |      \__ \  | |   \   / | |__ | _| 
 \___| \___/ |___/  |_|   \___/ |_|  |_|      |___/  |_|    |_|  |____||___|
     DELETE THE /* ABOVE .theme-dark             And Add /* To The Import
*/

/* REMOVE
.theme-dark {

  --main-colour: 90, 130, 179 !important;
  --main-colour2: #5a82b3 !important; 
  --main-colour3: 213 !important; 
  --main-background: #152029 !important;
  --secondary-background: #111a22 !important;
  --tertiary: #000000 !important;
  --floating: #0e151c !important;

  --headers: #b2cef0 !important; 
  --headers-secondary: #a9caf2 !important;
  
  --namesusernames: #d1e0f2 !important;
  --text: #d1e0f2 !important;
  --text-positive1: var(--green-color) !important;
  --muted: #d1e0f2 !important;
  --links: var(--alt-color2) !important;
  --button-interactive: #cbdcf2 !important;
  --button-interactive-hover: var(--main-colour2) !important;
  --button-interactive-active: #b2cef0 !important;
  --button-interactive-muted: #b2cef0 !important;
}
.theme-light {
  --main-colour: 113, 164, 226 !important; 
  --main-colour2: #71a4e2 !important; 
  --main-colour3: 213 !important; 

  --main-background: #ebf3fc !important;
  --secondary-background: rgb(219, 236, 255) !important;
  --tertiary: #ffffff !important;
  --floating: #ffffff !important;

  --headers: #343c46 !important; 
  --headers-secondary: #1c2127 !important;
  
  --namesusernames: #272a2e !important;
  --text: #1e2022 !important;
  --text-positive1: var(--green-color) !important;
  --muted: #18191b !important;
  --links: var(--alt-color2) !important;
  --button-interactive: #15171a !important;
  --button-interactive-hover: var(--main-colour2) !important;
  --button-interactive-active: #15191d !important;
  --button-interactive-muted: #13161a !important;
}

/*
 ___ __  __ _____  ___  ___  ___ 
| __|\ \/ /|_   _|| _ \/   \/ __|
| _|  >  <   | |  |   /| - |\__ \
|___|/_/\_\  |_|  |_|_\|_|_||___/
     Customisable Features
*/

:root {
  --HSL-server-icon-size:40px;
  --HSL-server-spacing:10px;
  --HSL-server-direction:column;
  
  --scrollbars:flex;   /* None To Remove Labels / Flex To Display Scrollbars */

  --display-notes-in-popout:none;
  --spotify-title-in-music-player:block; /* Block For Title / none For None */
  --topbar-label-buttons:flex;   /* None To Remove Labels / Flex To Display Lables */

  --server-icon-size: scale(0.8);

  --bubble-radius:25px !important;
  --bubble-padding-small:9px !important;
  --bubble-padding-large:12px !important;

  --rs-avatar-shape:50%;
  --rs-online-color:#43b581 !important;
  --rs-idle-color:#faa61a;
  --rs-dnd-color:#f04747;
  --rs-offline-color:#636b75;
  --rs-streaming-color:#643da7;
  --rs-invisible-color:#747f8d;
}

/*
   ___  _____    
 .'/,-Y"     "~-.  
 l.Y             ^.           
 /\               _\_  
i            ___/"   "\ 
|          /"   "\   o !   
l         ]     o !__./   
 \ _  _    \.___./    "~\  
  X \/ \            ___./        
 ( \ ___.   _..--~~"   ~`-.  
  ` Z,--   /               \    
    \__.  (   /       ______) 
      \   l  /-----~~" /         >>  Made By Leeprky#2063 <<
       Y   \          /                 
       |    "x______.^ 
       |           \    
       |            \

  ___  ___  ___  ___   ___  _____  ___ 
 / __|| _ \| __||   \ |_ _||_   _|/ __|
| (__ |   /| _| | |) | | |   | |  \__ \
 \___||_|_\|___||___/ |___|  |_|  |___/

 > Thanks To:
   > crearts-community
     > https://github.com/CreArts-Community

   > Any Snippits From Other Developers In Powercord/Betterdiscord Servers

/*
 ___   ___  _  _   ___   ___  ___ 
|_ _| / __|| \| | / _ \ | _ \| __|
 | | | (_ || .  || (_) ||   /| _| 
|___| \___||_|\_| \___/ |_|_\|___|
*/

:root {--outdated_materialyou-092:none !important;--version:"0.9.3.PC" !important;--build:"093" !important;}
.peopleColumn-1wMU14 {background-color: var(--background-secondary) !important;}

/* DEV VERSION DISPLAY */

:root {
  --version-display:flex;
}

/* Display Version Number Above Chat Box */

                                                                           /*




 ___  ___   ___         ___  _  _ __   __ _____  _  _  ___  _  _   ___        ___  ___  _      ___  __      __
/   \|   \ |   \       /   \| \| |\ \ / /|_   _|| || ||_ _|| \| | / __|      | _ )| __|| |    / _ \ \ \    / /
| - || |) || |) |      | - || .  | \   /   | |  | __ | | | | .  || (_ |      | _ \| _| | |__ | (_) | \ \/\/ / 
|_|_||___/ |___/       |_|_||_|\_|  |_|    |_|  |_||_||___||_|\_| \___|      |___/|___||____| \___/   \_/\_/  
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */