/* 
 __  __  ___  _____  ___  ___  ___  ___  _       __   __  ___   _   _ 
|  \/  |/   \|_   _|| __|| _ \|_ _|/   \| |      \ \ / / / _ \ | | | |
| |\/| || - |  | |  | _| |   / | | | - || |__     \   / | (_) || |_| |
|_|  |_||_|_|  |_|  |___||_|_\|___||_|_||____|     |_|   \___/  \___/ 
                             .--------.
                             | v0.9.4 |
                             '--------' 
                Last Updated: 06/03/2022 21:13 (UK)
          Version: Powercord (https://https://powercord.dev/)
*/

// Required Imports

@import "./src/main";

@import "./client/pc/powercord";

// Google Emojis
// @import "./src/optional/emoji";

// Animations

@import "./src/optional/animations";

//  ___  _____ __   __ _     ___  ___ 
// / __||_   _|\ \ / /| |   | __|/ __|
// \__ \  | |   \   / | |__ | _| \__ \
// |___/  |_|    |_|  |____||___||___/
// REMOVE THE // BEFORE IMPORT

// Material Discord
// @import "./src/scheme/material-discord";

// Material Blue - Default
 @import "./src/scheme/material-blue";

// Material Green
// @import "./src/scheme/material-green";

// Material Red
// @import "./src/scheme/material-red";

// Material Pink
// @import "./src/scheme/material-pink";

// Material Yellow
// @import "./src/scheme/material-yellow";

// --------------------------------------------------- //

// Material Grey
// @import "./src/scheme/material-grey";

// Material AMOLED
// @import "./src/scheme/material-amoled";

// --------------------------------------------------- //

// Material SLOOK
// @import "./src/scheme/previous-themes/material-slook";

// Material LODE
// @import "./src/scheme/previous-themes/material-lode";

// Material OVEL
// @import "./src/scheme/previous-themes/material-ovel";

// Material QUARREL
// @import "./src/scheme/previous-themes/material-quarrel";

// Material BLOOP
// @import "./src/scheme/previous-themes/material-bloop";

//  _   _  ___  ___  ___        ___  _____ __   __ _     ___  ___ 
// | | | |/ __|| __|| _ \      / __||_   _|\ \ / /| |   | __|/ __|
// | |_| |\__ \| _| |   /      \__ \  | |   \   / | |__ | _| \__ \
//  \___/ |___/|___||_|_\      |___/  |_|    |_|  |____||___||___/

// Create Your Own Import Scheme / Colours

// Then Copy Link And Place Inside ()
// Delete the // then open that file and inside you can change/create your own colours.

// @import './src/scheme/material-user-preset'

//  _____  ___  ___  _  _  ___  ___  ___  ___  ___  _  _   ___ __   __
// |_   _|| _ \/   \| \| |/ __|| _ \/   \| _ \| __|| \| | / __|\ \ / /
//   | |  |   /| - || .  |\__ \|  _/| - ||   /| _| | .  || (__  \   / 
//   |_|  |_|_\|_|_||_|\_||___/|_|  |_|_||_|_\|___||_|\_| \___|  |_|

// TRANSPARENCY ENABLED IN BETTERDISCORD / POWERCORD REQUIRED (GLASSCORD OPTIONAL FOR BLUR ON POWERCORD */

/* @import "./src/scheme/material-glass"; .transparent {--glasscord-win-blur: blurbehind;--glasscord-linux-blur: true;--glasscord-macos-vibrancy: fullscreen-ui;--background-accent: var(--glasscord-accent); --background-floating: var(--glasscord-floating); --glasscord-primary: var(--glasscord-current-style-bg) !important;}
   :root {--glasscord-current-style-bg: black !important} /* CHANGE TO url() !important for image */

//  ___ __  __ _____  ___  ___  ___ 
// | __|\ \/ /|_   _|| _ \/   \/ __|
// | _|  >  <   | |  |   /| - |\__ \
// |___|/_/\_\  |_|  |_|_\|_|_||___/
//     Customisable Features

:root {
  --HSL-server-icon-size:40px;
  --HSL-server-spacing:10px;
  --HSL-server-direction:column;
  --scrollbars:flex; /* None To Remove Labels / Flex To Display Scrollbars */

  --display-notes-in-popout:none;
  --spotify-title-in-music-player:block; /* Block For Title / none For None */
  --topbar-label-buttons:flex; /* None To Remove Labels / Flex To Display Lables */

  --green-color: var(--alt-color2) !important;
  --green-bar-on: #5c646480;
  --green-bar-bg: var(--green-color);
  --green-slider-on: var(--green-color);
  --green-slider-off: #404447fd;
  --green-slider-dot-on: #4770a2;
  --green-slider-dot-off: #303337fd;

  --server-icon-size:scale(0.8);
  --bubble-radius:25px !important;
  --bubble-padding-small:9px !important;
  --bubble-padding-large:12px !important;
  --rs-avatar-shape:50%;
  --rs-online-color:#43b581 !important;
  --rs-idle-color:#ffc663;
  --rs-dnd-color:#ff6969;
  --rs-offline-color:#636b75;
  --rs-streaming-color:#643da7;
  --streaming-color-rgb: 100, 61, 167;
  --rs-invisible-color:#747f8d;
}

//    ___  _____    
//  .'/,-Y"     "~-.  
//  l.Y             ^.           
//  /\               _\_  
// i            ___/"   "\ 
// |          /"   "\   o !   
// l         ]     o !__./   
//  \ _  _    \.___./    "~\  
//   X \/ \            ___./        
//  ( \ ___.   _..--~~"   ~`-.  
//   ` Z,--   /               \    
//     \__.  (   /       ______) 
//       \   l  /-----~~" /         >>  Made By Leeprky#2063 <<
//        Y   \          /                 
//        |    "x______.^ 
//        |           \    
//        |            \

//   ___  ___  ___  ___   ___  _____  ___ 
//  / __|| _ \| __||   \ |_ _||_   _|/ __|
// | (__ |   /| _| | |) | | |   | |  \__ \
//  \___||_|_\|___||___/ |___|  |_|  |___/

//  > Thanks To:
//    > crearts-community
//      > https://github.com/CreArts-Community

//    > Any Snippits From Other Developers In Powercord/Betterdiscord Servers

//  ___  ___   ___         ___  _  _ __   __ _____  _  _  ___  _  _   ___        ___  ___  _      ___  __      __
// /   \|   \ |   \       /   \| \| |\ \ / /|_   _|| || ||_ _|| \| | / __|      | _ )| __|| |    / _ \ \ \    / /
// | - || |) || |) |      | - || .  | \   /   | |  | __ | | | | .  || (_ |      | _ \| _| | |__ | (_) | \ \/\/ / 
// |_|_||___/ |___/       |_|_||_|\_|  |_|    |_|  |_||_||___||_|\_| \___|      |___/|___||____| \___/   \_/\_/  
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-