/* */
.attachButtonInner-2mwer8::after {
  content: "DEV BUILD | " var(--version) !important;
  position: fixed;
  border-radius: var(--bubble-radius);
  padding: 1px;
  font-size: 10px;
  font-weight: 600;
  width: 95px;
  bottom: 03px;
  display: var(--version-display);
  right: 70px;
  font-style: normal;
}

.theme-dark .attachButtonInner-2mwer8::after {
  color: white;
}

.theme-light .attachButtonInner-2mwer8::after {
  color: black;
}

  :root {
    --rs-small-spacing:2px;
  
    /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing:3px;
  
    /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing:4px;
  
    /* Gap between avatar and status for User profiles | MUST end in px */
  
    --rs-small-width:2px;
  
    /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width:3px;
  
    /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width:4px;
  
    --rs-phone-color:var(--rs-online-color);--rs-phone-visible:block;--sidebar-fade:92%;--main-background-alternative:var(--main-background);--secondary-background-alternative:var(--secondary-background);--accent:var(--alt-color2);--green-color:var(--alt-color2);--green-color2:var(--alt-color);--green-bar-on:rgba(var(--alt-color), 0.3);--green-bar-bg:var(--green-color);--green-slider-on:var(--green-color);--green-slider-off:rgba(var(--alt-color), 0.4);--green-slider-dot:#fff;--rs-online-color:var(--main-colour2);--chatbox-colour:var(--background-secondary);--mentioned:rgba(var(--alt-color), 0.4);--mentioned-hover:rgba(var(--alt-color), 0.2);--main-hover:rgba(var(--alt-color), 0.2);--main-hover-active:rgba(var(--alt-color), 0.8);--main-hover-selected:rgba(var(--alt-color), 0.5);--main-hover-accent:rgba(var(--alt-color), 0.1);--scrollbar-small:rgba(var(--alt-color), 0.2);--scrollbar-small-track:transparent;--scrollbar-large-thumb:rgba(var(--alt-color), 0.4);--scrollbar-large-track:rgba(var(--alt-color), 0.2);--scrollbar-small-scrollbar-color:rgba(var(--alt-color), 0.4);--scrollbar-small-scrollbar-color-track:rgba(var(--alt-color), 0.2);--default-gradient:315deg, rgba(var(--alt-color), 0.6) 0%, rgba(var(--alt-color), 0.8) 74%;--special-gradient:315deg, rgba(var(--alt-color), 0.1) 0%, #c987b8 74%;--red-gradient:315deg, #AA3738 0%, #F04747 74%;--red-hsl:hsl(359, 63%, 53%);--yellow-gradient:315deg, #c29b1b 0%, #ffa640 74%;--yellow-hsl:hsl(46, 72%, 52%);--green-gradient:315deg, #507a73 0%, #4b7c72  74%;--grey-gradient:315deg, rgba(var(--alt-color), 0.6) 0%, rgba(var(--alt-color), 0.8) 74%;--white-gradient:315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.342) 74%;--font-normal:500;--font-hover:bold;--font-size-hover:15px;--hover-transition:0.1s linear;--transform-normal:scale(1);--hover-transform:scale(1.15);--setting-hover-transform:scale(1.025);--button-hover-transform:scale(1.03);--info-warning:var(--alt-color2);--help-warning:var(--alt-color2);--help-info:var(--alt-color2);--radio-group-dot:var(--alt-color);--shadow-stroke:0 0 0 1px rgba(4, 4, 5, 0.15);--shadow-low:0 1px 0 rgba(18, 20, 36, 0.767), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);--shadow-medium:0 4px 4px rgba(0, 0, 0, 0.16);--shadow-high:0 8px 16px rgba(0, 0, 0, 0.24);
  }
  
  .scroller-3X7KbA {
    background-color: var(--secondary-background);
  }
  
  /* Background */
  
  body {
    background-color: transparent !important;
  }
  
  #app-mount {
    border-radius: 14px;
  }
  
  /* Main */
  
  ::-webkit-scrollbar {
    display: var(--scrollbars) !important;
    border-radius: var(--bubble-radius) !important;
  }
  
  /* Roundess */
  
  .buttonContainer-1502pf, [class="wrapper-2vIMkT"], .isHeader-2bbX-L, .button-3bklZh, [role="menuitem"], [role="tab"], [role="button"] {
    border-radius: var(--bubble-radius) !important;
  }
  
  .jumpButton-1V_1FA {
    .messages-23can0 {
      border-radius: var(--bubble-radius) !important;
    }
  
    padding: var(--bubble-padding-small);
  }
  
  /* Windows Bar */
  
  .withFrame-2dL45i {
    height: 15px;
    margin-top: 0px;
    position: relative;
    background-color: var(--background-primary);
  }
  
  .winButton-3UMjdg {
    transform: scale(1);
    height: 31px;
    border-radius: var(--bubble-radius);
    width: 32px;
    right: 10px;
    margin-top: 22px;
    padding-left: 6px;
    padding-right: 6px;
  }
  
  [role="button"][aria-label="Close"]:hover {
    background-color: var(--main-colour2);
  }
  
  .wordmark-2u86JB {
    &:after {
      color: rgb(247, 245, 245);
      content: "" var(--wordmark-text) " | " var(--version) "";
      display: var(--watermark);
      font-size: 14.5px;
      font-weight: 700;
      position: absolute;
      width: 4000px;
      top: 10px;
      left: -40%;
    }
  
    > svg {
      width: 0px;
    }
  }
  
  /* Titlebar */
  
  .title-17SveM, .toolbar-3_r2xA {
    margin-right: 140px;
    margin-bottom: 10px !important;
    background-color: transparent !important;
  }
  
  .children-3xh0VB {
    margin-right: 140px;
    margin-bottom: 10px !important;
    background-color: transparent !important;
    margin-right: 0px;
  }
  
  .title-17SveM {
    margin-bottom: -0px !important;
    margin: 0px !important;
  }
  
  .iconWrapper-2awDjA {
    &::after {
      content: attr(aria-label);
      font-size: 15px;
      padding-left: 30px;
      padding-right: 2px;
      bottom: 25px;
      position: relative;
      text-transform: capitalize;
    }
    &:hover {
      color: var(--alt-color2);
    }
  }