.theme-dark {
    .newPopoutActivityStyles .headerText-3g1XK9, .newProfileActivityStyles .headerText-3g1XK9 {
      color: var(--header-secondary);
      display: none;
    }
  }
  
  .theme-light {
    .newPopoutActivityStyles .headerText-3g1XK9, .newProfileActivityStyles .headerText-3g1XK9 {
      color: var(--header-secondary);
      display: none;
    }
  }
  
  .headerTop-3GPUSF {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .userPopout-2j1gM4 {
    .profileBadges-2pItdR {
      top: 7px;
      right: 10px;
      max-width: 110px;
    }
  
    .headerText-1-WmDq {
      margin: -5px 0 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .customStatus-3XAoF9 {
    padding: 10px;
    border-radius: var(--bubble-radius);
    background: var(--background-primary);
  
    > .customStatusEmoji-1bFQdD.customStatusSoloEmoji-2bSRlG:only-child {
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  .userPopout-2j1gM4 {
    .aboutMeSection-PUghFQ {
      .aboutMeBody-1J8rhz {
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
        border-radius: var(--bubble-radius);
        background: var(--background-primary);
        overflow: hidden scroll;
  
        &::-webkit-scrollbar {
          width: 0.25em !important;
          border-radius: var(--radius-primary);
          height: 0px !important;
          background: transparent !important;
        }
  
        &::-webkit-scrollbar-thumb {
          background: var(--background-secondary-alt);
          border-radius: var(--bubble-radius);
        }
      }
  
      margin-top: 20px;
  
      &::before {
        content: " ";
        position: absolute;
        left: 16px;
        width: 92%;
        height: 1px;
        margin-top: -12px;
        background-color: var(--background-modifier-accent);
      }
    }
  
    .aboutMeTitle-3pjiS7 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: 700;
      margin: 0 0 8px 6px;
    }
  
    .bodyTitle-2Az3VQ {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: 700;
      margin: 0 0 8px 6px;
      margin-top: 28px;
  
      &::before {
        content: " ";
        position: absolute;
        left: 16px;
        width: 92%;
        height: 1px;
        margin-top: -15px;
        background-color: var(--background-modifier-accent);
      }
    }
  
    .note-Go5ZP2 {
      background: var(--background-primary);
      padding: 10px;
      margin: 3px;
      border-radius: var(--bubble-radius);
      display: var(--display-notes-in-popout) !important;
    }
  }
  
  .note-Go5ZP2 {
    display: var(--display-notes-in-popout) !important;
  }
  
  .userPopout-2j1gM4 {
    .aboutMeTitle-3pjiS7, .bodyTitle-2Az3VQ {
      display: var(--display-notes-in-popout) !important;
    }
  }
  
  .activityUserPopout-2MzGCj {
    &::after, &::before {
      display: var(--display-notes-in-popout) !important;
    }
  }
  
  .rolesList-3uZoaa ::-webkit-scrollbar {
    display: none !important;
  }
  
  .userPopout-2j1gM4 .input-2z42oC {
    background: var(--background-primary);
    border-radius: var(--bubble-radius);
  }
  
  .activityUserPopout-2MzGCj {
    background-color: var(--background-primary) !important;
    border-radius: var(--bubble-radius);
    padding: 10px;
    margin: 3px;
    margin-bottom: 12px;
    margin-top: -5px !important;
  }
  
  .userPopout-2j1gM4 .rolesList-3uZoaa {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background-primary);
    padding: 10px;
    border-radius: var(--bubble-radius);
  }
  
  .rolesList-3uZoaa {
    .role-2TIOKu {
      font-size: 12px;
      font-weight: 500;
      background: var(--background-secondary-alt);
      border-radius: 8px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 26px;
      margin: 0 6px 7px 0;
      padding: 6px;
  
      .roleCircle-1EgnFN {
        border-radius: 40%;
        width: 12px;
        height: 12px;
        padding: 0;
        margin: 0 7px 0 2px;
      }
    }
  
    > .role-2TIOKu {
      border-radius: var(--bubble-radius) !important;
    }
  }
  
  /* Had to import because of discord's character limit lol */
  
  :root {
    --radius:10px !important;
  
    /** Number of role columns */
    --roleslist-columns:2;
  }
  
  .rolesList-3uZoaa {
    display: grid;
    grid-template-columns: repeat(var(--roleslist-columns), minmax(0, 1fr));
    background: var(--background-tertiary);
    padding: 12.5px;
    gap: 4.5px;
    border-radius: 8px;
    max-height: 150px;
    overflow: auto;
  
    &::-webkit-scrollbar {
      width: 4.5px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: var(--background-modifier-hover);
    }
  
    > .role-2TIOKu {
      margin: 0;
      justify-content: center;
    }
  
    .roleCircle-1EgnFN {
      flex-shrink: 0;
    }
  
    .roleName-2ZJJYR {
      margin: auto;
    }
  }
  
  .addButton-1_dZYu {
    grid-column: (1 / span) var(--roleslist-columns);
  
    &::before {
      content: attr(aria-label);
      text-transform: capitalize;
    }
  }