.listRow-2nO1T6:hover {
    background-color: transparent;
  }
  
  .badgeList-2aoHPw {
    position: absolute;
    top: 90px;
    left: -145px;
    width: 190px;
    transform: scale(0.8);
  }
  
  .userProfileActivity-sal5no {
    border-radius: var(--bubble-radius);
    padding: var(--bubble-padding-small);
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 13px;
    max-width: 300px !important;
  }
  
  .actionsProfile-31n1ca {
    margin-left: 130px;
  }
  
  .menu-1QACrS, .colorDefault-CDqZdO {
    border-radius: var(--bubble-radius);
  }
  
  .channelNotice-7cg_jN {
    background-color: var(--background-primary);
    border-radius: var(--bubble-radius);
    padding: var(--bubble-padding-small);
    margin-top: 10px;
    transform: scale(0.9);
    position: relative;
  }
  
  .autocompleteRowVerticalSmall-2rVED0 .base-2v-uc0 {
    border-radius: var(--bubble-radius) !important;
    transition: 300ms;
    padding: -10px;
  }
  
  /* Replace Wandering Cubes Spinner with gif*/
  
  span[class="inner-26JK4f"] {
    &:after {
      background-image: url('https://i.imgur.com/EoMYriy.gif');
      background-size: cover;
      display: inline-block;
      width: 32px;
      height: 32px;
      content: "";
    }
  
    > * {
      display: none;
    }
  }
  
  .spoilerText-27bIiA {
    background-color: transparent !important;
  
    &.hidden-3B-Rum {
      background-color: transparent !important;
  
      > .inlineContent-2YnoDy {
        opacity: 1 !important;
        filter: blur(3px);
        pointer-events: unset;
      }
    }
  }
  
  .connectedAccountIcon-2vls0t ~ div::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--border-color);
    position: absolute;
    display: block;
    pointer-events: none;
  }
  
  .connectedAccount-1xKpli {
    overflow: hidden;
    position: relative;
    border-radius: var(--bubble-radius) !important;
  }
  
  .userBio-2-tr00 {
    max-width: 360px;
  }
  
  .top-K_jibn {
    bottom: 150px !important;
  }
  
  [class="applicationInstallButton-1-58qm button-f2h6uQ lookFilled-yCfaCM colorBrand-I6CyqQ sizeSmall-wU2dO- grow-2sR_-F"] {
    margin-bottom: -200px;
    left: -80px;
    position: absolute;
  }
  
  [class="privateChannelRecipientsInviteButtonIcon-1ObKXK iconWrapper-2awDjA clickable-ZD7xvu"] {
    background-color: transparent !important;
    margin-top: 0px;
    left: -00px;
  
    &::after {
      display: none;
    }
  }
  
  .peopleColumn-1wMU14 {
    .scrollerBase-_bVAAt {
      background-color: transparent !important;
    }
  
    .listItemContents-2NFd61:hover, .listItemContents-f4Uz5J:hover, .listItemContents-2n2Uy9:hover {
      background-color: var(--background-primary);
    }
  
    background-color: var(--background-secondary) !important;
  }
  
[aria-label="Threads"] {
  margin-left: 10px !important;
}


  [aria-label="Open sticker picker"], [aria-label="Send a gift"] {
    display: none
  }

.sendIcon-1HcEzu {color: var(--interactive-normal);}
.sendIcon-1HcEzu:hover {
    color: var(--interactive-active);
}