/*
 ___   ___  __      __ ___  ___   ___   ___   ___  ___         ___  ___  ___   ___  ___  ___  ___   ___ 
| _ \ / _ \ \ \    / /| __|| _ \ / __| / _ \ | _ \|   \       / __|| _ \| __| / __||_ _|| __||_ _| / __|
|  _/| (_) | \ \/\/ / | _| |   /| (__ | (_) ||   /| |) |      \__ \|  _/| _| | (__  | | | _|  | | | (__ 
|_|   \___/   \_/\_/  |___||_|_\ \___| \___/ |_|_\|___/       |___/|_|  |___| \___||___||_|  |___| \___|
*/

@import url("https://crearts-community.github.io/Context-Icons/modules/plugins/powercord.css");
@import url("https://crearts-community.github.io/Friends-Grid/modules/plugins/powercord.css");
@import url("https://crearts-community.github.io/Settings-Icons/clients/powercord.css");

.powercord-product {
  border-radius: var(--bubble-radius);
}

.powercord-toast {
  border-radius: var(--bubble-radius);

  .header {
    background-color: var(--background-floating) !important;
  }
}