
/*
 *
 *  SIDEBAR ICONS
 *
 */
 .sidebar-nqHbhN .item-3XjbnG:before,
 .sidebar-nqHbhN .ui-tab-bar-item:before,
 #bd-settings-sidebar .item-3XjbnG:before,
 #bd-settings-sidebar .ui-tab-bar-item:before {
   position: absolute;
   content: " ";
   width: 20px;
   height: 20px;
   top: 0;
   left: 06px;
   bottom: 0;
   margin: auto 0;
   background-repeat: no-repeat;
   background-position: center;
   opacity: 0.8;
 }
 .side-2ur1Qk .item-3XjbnG {
     padding-left: 35px;
 }
 
 .sidebar-nqHbhN [aria-controls=my-account-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/person.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/person.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=profile-customization-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/edit.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/edit.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls="privacy-&-safety-tab"].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/security.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/security.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=authorized-apps-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/apps.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/apps.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=connections-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/link.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/link.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=subscriptions-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/subscription.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/subscription.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=discord-nitro-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/nitro.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/nitro.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=nitro-server-boost-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/server_boost.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/server_boost.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=library-inventory-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/gift.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/gift.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=billing-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/payment.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/payment.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=appearance-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/chat.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/chat.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=accessibility-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/accessibility.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/accessibility.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls="voice-&-video-tab"].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/mic.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/mic.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls="text-&-images-tab"].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/keyboard.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/keyboard.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=notifications-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/notifications.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/notifications.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=keybinds-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/space_bar.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/space_bar.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=language-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/translate.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/translate.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=windows-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/windows.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/windows.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=linux-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/linux.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/linux.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=streamer-mode-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/live_tv.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/live_tv.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=advanced-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/integrations.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/integrations.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=game-activity-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/gamepad.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/gamepad.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=overlay-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/picture_in_picture.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/picture_in_picture.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=settings-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/settings.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/settings.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=emotes-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/emoji.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/emoji.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=customcss-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/code.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/code.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=plugins-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/plugins.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/plugins.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=themes-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/themes.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/themes.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=pluginrepo-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/plugins.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/plugins.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=themerepo-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/themes.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/themes.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=changelog-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/list.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/list.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=hypesquad-online-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/hypesquad.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/hypesquad.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=experiments-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/settings.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/settings.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=developer-options-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/code.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/code.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=hotspot-options-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/settings.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/settings.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=pc-general-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/settings.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/settings.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=pc-modulemanager-plugins-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/plugins.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/plugins.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=pc-modulemanager-themes-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/themes.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/themes.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=pc-updater-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/update.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/update.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=overview-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/dashboard.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/dashboard.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=permissions-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/lock_open.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/lock_open.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=roles-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/lock_open.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/lock_open.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=emoji-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/emoji.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/emoji.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=stickers-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/sticker-emoji.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/sticker-emoji.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=moderation-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/security.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/security.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=audit_log-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/audit_log.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/audit_log.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=integrations-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/integrations.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/integrations.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=widget-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/widgets.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/widgets.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=guild_templates-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/template.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/template.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=vanity_url-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/link.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/link.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=community-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/dashboard.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/dashboard.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=analytics-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/analytics.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/analytics.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=partner-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/partner_program.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/partner_program.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=discovery-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/discovery.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/discovery.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=member_verification-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/verified_user.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/verified_user.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=community_welcome-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/partner_program.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/partner_program.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=threads-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/chat.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/chat.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=guild_premium-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/server_boost.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/server_boost.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=members-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/people.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/people.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=instant_invites-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/person_add.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/person_add.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=bans-tab].item-3XjbnG:before {
   background-color: var(--text-normal);
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/hammer.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/hammer.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=logout-tab].item-3XjbnG:before {
   background-color: hsl(var(--alert-color));
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/exit_to_app.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/exit_to_app.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 .sidebar-nqHbhN [aria-controls=delete-tab].item-3XjbnG:before {
   background-color: hsl(var(--alert-color));
   -webkit-mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/delete.svg);
   mask-image: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/outline/delete.svg);
   -webkit-mask-repeat: no-repeat;
   mask-repeat: no-repeat;
 }
 