
.sidebar-1tnWFu {
    margin-top: 40px;
}

.container-ZMc96U {
    background-color: var(--background-primary) !important;
    height: 40px;
}

.children-3xh0VB {
margin-right: 140px;
margin-bottom: 10px !important;
background-color: transparent !important;
margin-right: 0px;
}

.controlButton-2PMNom {
    border-radius: 50% !important;
    transform: scale(0.92);
}
.colorable-3rVGna.primaryDark-2UJt1G {
    background-color: var(--background-secondary);
}