.peopleColumn-1wMU14, .container-1oAagU {
    background-color: var(--background-secondary) !important;
    margin-top: 35px;
  }
  .scroller-29cQFV {
    background-color: var(--background-secondary);
  }
  
  .scroller-WSmht3, .privateChannels-oVe7HL, .searchBar-3TnChZ {
    box-shadow: none !important;
  }
  
  .content-1SgpWY .container-2cd8Mz .container-ZMc96U.themed-Hp1KC_ .children-3xh0VB .title-17SveM, .libraryHeader-2loraV .children-3xh0VB .title-17SveM, .homeWrapperNormal-bu1BS6 .headerBar-1dSpQr .children-3xh0VB .title-17SveM {
    margin-left: 15px !important;
  }
  
  .divider-q3P9HC {
    height: 30px;
  }
  
  .searchHeader-1r_ZSh {
    margin-top: 50px;
    background-color: var(--secondary-background);
  }
  
  .searchHeaderTabList-3CZMQB {
    margin-top: 50px;
    background-color: var(--secondary-background);
    margin-top: 0px !important;
  }
  
  .icon-E4cW1l {
    display: none;
  }
  
  .replyBar-1oi75v {
    background-color: var(--background-primary);
    border-radius: var(--bubble-radius);
    margin-bottom: 5px;
    width: fit-content !important;
  }
  
  .base-3bcbY3 .cooldownWrapper-2k1jHK {
    color: var(--button-interactive) !important;
  }
  
  .interactive-iyXY_x {
    border-radius: var(--bubble-radius) !important;
  }
  
  .closeButton-30b1gR {
    right: -2px !important;
    top: 7.5px;
  }
  
  .peopleColumn-1wMU14 .userInfo-2WpsYG::before, .peopleColumn-1wMU14 .peopleListItem-u6dGxF, .peopleColumn-1wMU14 .userInfo-2WpsYG, .listItemContents-2n2Uy9, .searchBar-3TnChZ .searchBarComponent-3N7dCG {
    border-radius: var(--bubble-radius) !important;
  }
  .searchBar-3TnChZ .searchBarComponent-3N7dCG {
    text-align: center !important;
  }
  .contentRegionShownSidebar-fHXkEg {
    background-color: var(--background-secondary) !important;
  }
