
  :root {
    --premium-size:480px;
    --premium-opacity:.25;
    --premium-blur:blur(2.6px);
  }
  
  /* 50px For Banner | 400 For Full */
  
  .theme-dark .root-g14mjS .body-1Ukv50, .topSection-13QKHs .tabBarContainer-sCZC4w .tabBar-2hXqzU, .tabBarItem-30Te4- {
    display: table;
    margin-bottom: 15px !important;
    font-size: 16px;
    margin-left: 8px;
  }
  
  .theme-dark .root-g14mjS .tabBarContainer-sCZC4w {
    top: 100px;
    position: relative;
  }
  
  .nameTag-2Nlmsy {
    top: 80px;
    left: 20px;
  }
  
  .top-K_jibn {
    .item-3XjbnG, .selected-g-kMVV.themed-2-lozF.item-3XjbnG, .themed-2-lozF.item-3XjbnG:active {
      border-bottom-color: transparent;
      border-bottom: transparent;
      margin-bottom: 20px;
      top: 20px;
    }
  }
  
  .body-1Ukv50 {
    position: absolute;
    background-color: transparent;
    left: 190px;
    top: 30px;
    height: 350px;
    width: 400px;
  }
  
  .profileBannerPremium-KD60EB {
    height: 475px;
    top: 0;
    height: var(--premium-size);
    background-position: center;
    background-size: cover;
    opacity: var(--premium-opacity);
    position: absolute;
    filter: var(--premium-blur);
  }
  
  .profileBanner-1owKI5, .customStatusText-_4TbWr, .actionButton-iarQTd, .banner-1YaD3N:hover .premiumIconWrapper-32h0Ri {
    display: none;
  }
  
  .actionsProfile-31n1ca {
    position: absolute;
    margin-top: 150px;
    margin-left: -0;
  }
  
  .userInfoSection-2u2hir + .userInfoSection-2u2hir, .tabBarContainer-sCZC4w {
    border: none;
  }
  
  .userProfileActivity-sal5no {
    width: 360px;
    margin-bottom: 30px;
  }
  
  .note-3M15gE textarea {
    margin-bottom: 5px;
  }
  
  .relationshipButtons-3ByBpj {
    bottom: 12px !important;
    left: -35px;
    transform: scale(1.2);
    position: relative;
  }
  
  .avatar-3QF_VA {
    transform: scale(0.8);
    left: 20px;
    margin-top: 20px;
  
    &.wrapper-1VLyxH {
      background-color: transparent;
      border: var(--glasscord-background);
    }
  }
  
  .body-1Ukv50 {
    background-color: transparent;
    border: var(--glasscord-background);
  }
  
  .topSection-13QKHs {
    background-color: transparent;
    border: var(--glasscord-background);
    height: 475px;
  }
  
  .body-1Ukv50, .topSection-13QKHs {
    min-height: 400px;
  }
  
  .theme-dark .root-g14mjS {
    background-color: var(--background-floating) !important;
    border-radius: 16px !important;
  }
  
  :root {
    --user-modal-avatar-size:230px;
    --blur-the-things:0px;
  }
  
  .root-8LYsGj {
    .body-1Ukv50 .listScroller-entkMk {
      padding-left: 45px;
      margin-bottom: 20px !important;
      margin-top: 10px;
  
      .listRow-2nO1T6 {
        display: inline-table;
        align-content: center;
        justify-content: center;
        text-align: center;
      }
    }
  
    .listScroller-entkMk .mask-1FEkla.svg-2azL_l {
      filter: blur(var(--blur-the-things));
      width: calc(var(--user-modal-avatar-size) * 1/3) !important;
      height: calc(var(--user-modal-avatar-size) * 1/3) !important;
    }
  }
  
  .listRow-2nO1T6 .listAvatar-2bU5Uh.wrapper-1VLyxH {
    filter: blur(var(--blur-the-things));
    width: calc(var(--user-modal-avatar-size) * 1/3) !important;
    height: calc(var(--user-modal-avatar-size) * 1/3) !important;
  }
  
  .root-8LYsGj .listScroller-entkMk {
    .listRow-2nO1T6 .iconSizeMedium-2vzSua {
      filter: blur(var(--blur-the-things));
      width: calc(var(--user-modal-avatar-size) * 1/3) !important;
      height: calc(var(--user-modal-avatar-size) * 1/3) !important;
    }
  
    .listName-PwbeHL, .listRowContent-PEmSWj {
      margin-top: 2px;
      display: none;
    }
  }

  .badgeList-2aoHPw {
    position: absolute;
    top: 90px;
    left: -145px;
    width: 190px;
    transform: scale(0.8);
  }
  
  .userProfileActivity-sal5no {
    border-radius: var(--bubble-radius);
    padding: var(--bubble-padding-small);
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 13px;
    max-width: 300px !important;
  }
  
  .actionsProfile-31n1ca {
    margin-left: 130px;
  }
  
  .menu-1QACrS, .colorDefault-CDqZdO {
    border-radius: var(--bubble-radius);
  }

  
  /* Replace Wandering Cubes Spinner with gif*/
  
  span[class="inner-26JK4f"] {
    &:after {
      background-image: url('https://i.imgur.com/EoMYriy.gif');
      background-size: cover;
      display: inline-block;
      width: 32px;
      height: 32px;
      content: "";
    }
  
    > * {
      display: none;
    }
  }
  
  .spoilerText-27bIiA {
    background-color: transparent !important;
  
    &.hidden-3B-Rum {
      background-color: transparent !important;
  
      > .inlineContent-2YnoDy {
        opacity: 1 !important;
        filter: blur(3px);
        pointer-events: unset;
      }
    }
  }
  
  .connectedAccountIcon-2vls0t ~ div::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--border-color);
    position: absolute;
    display: block;
    pointer-events: none;
  }
  
  .connectedAccount-1xKpli {
    overflow: hidden;
    position: relative;
    border-radius: var(--bubble-radius) !important;
  }
  
  .userBio-2-tr00 {
    max-width: 360px;
  }
  
  .top-K_jibn {
    bottom: 150px !important;
  }
  
  [class="applicationInstallButton-1-58qm button-f2h6uQ lookFilled-yCfaCM colorBrand-I6CyqQ sizeSmall-wU2dO- grow-2sR_-F"] {
    margin-bottom: -200px;
    left: -80px;
    position: absolute;
  }
  
  [class="privateChannelRecipientsInviteButtonIcon-1ObKXK iconWrapper-2awDjA clickable-ZD7xvu"] {
    background-color: transparent !important;
    margin-top: 0px;
    left: -00px;
  
    &::after {
      display: none;
    }
  }
  
  .peopleColumn-1wMU14 {
    .scrollerBase-_bVAAt {
      background-color: transparent !important;
    }
  
    .listItemContents-2NFd61:hover, .listItemContents-f4Uz5J:hover, .listItemContents-2n2Uy9:hover {
      background-color: var(--background-primary);
    }
  
    background-color: var(--background-secondary) !important;
  }
  
[aria-label="Threads"] {
  margin-left: 10px !important;
}


  [aria-label="Open sticker picker"], [aria-label="Send a gift"] {
    display: none
  }

.sendIcon-1HcEzu {color: var(--interactive-normal);}
.sendIcon-1HcEzu:hover {
    color: var(--interactive-active);
}