.contentWarningPopout-WKdbDG {
    width: 440px;
    min-height: 198px;
    border-radius: var(--bubble-radius);
    position: absolute;
    margin-left: 328px !important; 
    margin-top: 60px !important;
    background-color: var(--text-danger) !important;
    padding-bottom: 20PX;
}
.theme-dark .footer-2aeMle {
    display: none;
}
[class="button-bYXZch button-f2h6uQ lookFilled-yCfaCM colorBrand-I6CyqQ sizeMedium-2bFIHr grow-2sR_-F"], [class="button-bYXZch button-f2h6uQ lookFilled-yCfaCM colorGrey-2iAG-B sizeMedium-2bFIHr grow-2sR_-F"] {
    background: rgb(153, 13, 13) !important;
}
