
.root-22AK9z {
    background-color: #111a22 !important;
  }
  .scroller-3X7KbA {
    border-radius: 0px !important;
  }
  .contentColumn-1C7as6,
  .customColumn-2n-oKU,
  .customScroller-m1-jZn > div,
  .contentWidth-3aWel5,
  .content-2ssVKB.layoutStyle-3d1mjU,
  .tier1-314rFD.banner-oA34U0 {
    max-width: 100%;
  }
  .border-2BJQjd.speaking-3RWJBr {
    box-shadow: inset 0 0 0 3px hsl(var(--accent-hsl)), inset 0 0 0 4px var(--background-floating);
  }
  .wrapper-1HIH0j {
    border-radius: var(--bubble-radius);
  }
  .baseLayout-8AMrwn > :first-child {
    width: 100%;
  }
  .upsellContainer-22N_CL {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }
  
  .tierHorizontal-3_wK7G.tier-R8h9Y_ {
    justify-content: center;
  }
  
  .hero-1aNo0v {
    width: 100%;
    max-width: 100%;
  }
  
  .featuresHeader-2bjq5B {
    display: flex;
    justify-content: center;
  }
  
  .listItem-3SmSlK .wrapper-28eC3z .upperBadge-1V6Iyi .iconBadge-32fMme {
    background-color: hsl(var(--accent-hsl));
    color: var(--accent-text-color);
    border-radius: 50%;
    animation: audio-flash 2.5s linear infinite;
  }
  
  .listItem-3SmSlK .wrapper-28eC3z .upperBadge-1V6Iyi .iconBadge-32fMme {
    background-color: hsl(var(--accent-hsl));
    color: var(--accent-text-color);
    border-radius: 50%;
    animation: audio-flash 2.5s linear infinite;
  }

  .popout-1KHNAq {
    border-radius: var(--bubble-radius) !important;
    margin-top: 5px;
  }
  .warning-RBGtx2{
    border-radius: var(--bubble-radius) !important;
    background-color: transparent;
  }