.attachButtonInner-2mwer8::after {
    content: "DEV BUILD | " var(--version) !important;
    position: fixed;
    border-radius: var(--bubble-radius);
    padding: 1px;
    font-size: 10px;
    font-weight: 600;
    width: 95px;
    bottom: 03px;
    display: var(--version-display);
    right: 70px;
    font-style: normal;
  }
  
  .theme-dark .attachButtonInner-2mwer8::after {
    color: white;
  }
  
  .theme-light .attachButtonInner-2mwer8::after {
    color: black;
  }