.container-YkUktl::after {
    content: "DEV BUILD (" var(--build) ")" !important;
    position: fixed;
    border-radius: var(--bubble-radius);
    padding: 1px;
    font-size: 10px;
    font-weight: 600;
    width: 125px;
    bottom: 03px;
    display: var(--version-display);
    left: 90px;
    opacity: 0.8;
    font-style: normal;
  }
  
  .theme-dark .container-YkUktl::after {
    color: white !important;
  }
  
  .theme-light .container-YkUktl::after {
    color: black !important;
  }