.withFrame-2dL45i {
    height: 15px;
    margin-top: 0px;
    position: relative;
    background-color: transparent;
  }
  
  .winButton-3UMjdg {
    transform: scale(1);
    height: 31px;
    border-radius: var(--bubble-radius);
    width: 32px;
    right: 10px;
    margin-top: 19px;
    padding-left: 6px;
    margin-left: 10px;
    padding-right: 6px;
    background-color: rgba(var(--alt-color), 0.2);
    transition: 300ms;
  }
  .winButton-3UMjdg:nth-child(2):hover {
    background-color: var(--win-bar-color-close);
    color: var(--win-bar-color-close-inside);
  }
  .winButton-3UMjdg:nth-child(3):hover {
    background-color: var(--win-bar-color-maximise);
    color: var(--win-bar-color-maximise-inside);
  }
  .winButton-3UMjdg:hover {
    background-color: var(--win-bar-color-minimise);
    color: var(--win-bar-color-minimise-inside);
    transition: 300ms;
    width: 50px;
  }

.toolbar-3_r2xA {
    margin-right: 170px !important;
  }


  .chatContent-3KubbW, .bg-1QIAus, .chatContent-3KubbW, .bg-1QIAus {
    background-color: var(--background-primary) !important;
  }
  .scroller-kQBbkU {
    background-color: var(--background-secondary);
  }

  
  
  .wordmark-2u86JB {
    &:after {
      color: rgb(247, 245, 245);
      content: "" var(--wordmark-text) " | " var(--version) "";
      display: var(--watermark);
      font-size: 14.5px;
      font-weight: 700;
      position: absolute;
      width: 4000px;
      top: 10px;
      left: -40%;
    }
  
    > svg {
      width: 0px;
    }
  }