/*
 ___________________ 
|  _______________  |
| | VERSION 0.9.2 | |
| |_______________| |
|___________________|
  UPDATED: 21/02/22
           14:08PM

 ___    ___         _  _   ___   _____        ___   ___  _     ___  _____  ___ 
|   \  / _ \       | \| | / _ \ |_   _|      |   \ | __|| |   | __||_   _|| __|
| |) || (_) |      | .  || (_) |  | |        | |) || _| | |__ | _|   | |  | _| 
|___/  \___/       |_|\_| \___/   |_|        |___/ |___||____||___|  |_|  |___|

                          Material You Source Code

/* */

.attachButtonInner-2mwer8::after {
    content: "DEV BUILD | " var(--version) !important;
    position: fixed;
    border-radius: var(--bubble-radius);
    padding: 1px;
    font-size: 10px;
    font-weight: 600;
    width: 95px;
    bottom: 03px;
    display: var(--version-display);
    right: 70px;
    font-style: normal;
  }
  
  .theme-dark .attachButtonInner-2mwer8::after {
    color: white;
  }
  
  .theme-light .attachButtonInner-2mwer8::after {
    color: black;
  }
  
  /* */
  
  /* */
  
  :root {
    --rs-small-spacing:2px;
  
    /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing:3px;
  
    /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing:4px;
  
    /* Gap between avatar and status for User profiles | MUST end in px */
  
    --rs-small-width:2px;
  
    /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width:3px;
  
    /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width:4px;

    --rs-phone-color:var(--rs-online-color);--rs-phone-visible:block;--sidebar-fade:92%;--main-background-alternative:var(--main-background);--secondary-background-alternative:var(--secondary-background);--accent:var(--alt-color2);--green-color:var(--alt-color2);--green-color2:var(--alt-color);--green-bar-on:rgba(var(--alt-color), 0.3);--green-bar-bg:var(--green-color);--green-slider-on:var(--green-color);--green-slider-off:rgba(var(--alt-color), 0.4);--green-slider-dot:#fff;--rs-online-color:var(--main-colour2);--chatbox-colour:var(--background-secondary);--mentioned:rgba(var(--alt-color), 0.4);--mentioned-hover:rgba(var(--alt-color), 0.2);--main-hover:rgba(var(--alt-color), 0.2);--main-hover-active:rgba(var(--alt-color), 0.8);--main-hover-selected:rgba(var(--alt-color), 0.5);--main-hover-accent:rgba(var(--alt-color), 0.1);--scrollbar-small:rgba(var(--alt-color), 0.2);--scrollbar-small-track:transparent;--scrollbar-large-thumb:rgba(var(--alt-color), 0.4);--scrollbar-large-track:rgba(var(--alt-color), 0.2);--scrollbar-small-scrollbar-color:rgba(var(--alt-color), 0.4);--scrollbar-small-scrollbar-color-track:rgba(var(--alt-color), 0.2);--default-gradient:315deg, rgba(var(--alt-color), 0.6) 0%, rgba(var(--alt-color), 0.8) 74%;--special-gradient:315deg, rgba(var(--alt-color), 0.1) 0%, #c987b8 74%;--red-gradient:315deg, #AA3738 0%, #F04747 74%;--red-hsl:hsl(359, 63%, 53%);--yellow-gradient:315deg, #c29b1b 0%, #ffa640 74%;--yellow-hsl:hsl(46, 72%, 52%);--green-gradient:315deg, #507a73 0%, #4b7c72  74%;--grey-gradient:315deg, rgba(var(--alt-color), 0.6) 0%, rgba(var(--alt-color), 0.8) 74%;--white-gradient:315deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.342) 74%;--font-normal:500;--font-hover:bold;--font-size-hover:15px;--hover-transition:0.1s linear;--transform-normal:scale(1);--hover-transform:scale(1.15);--setting-hover-transform:scale(1.025);--button-hover-transform:scale(1.03);--info-warning:var(--alt-color2);--help-warning:var(--alt-color2);--help-info:var(--alt-color2);--radio-group-dot:var(--alt-color);--shadow-stroke:0 0 0 1px rgba(4, 4, 5, 0.15);--shadow-low:0 1px 0 rgba(18, 20, 36, 0.767), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);--shadow-medium:0 4px 4px rgba(0, 0, 0, 0.16);--shadow-high:0 8px 16px rgba(0, 0, 0, 0.24);
  }
  
  .scroller-3X7KbA {
    background-color: var(--secondary-background);
  }
  
  /* Background */
  
  body {
    background-color: transparent !important;
  }
  
  #app-mount {
    border-radius: 14px;
  }
  
  /* Main */
  
  ::-webkit-scrollbar {
    display: var(--scrollbars) !important;
    border-radius: var(--bubble-radius) !important;
  }
  
  /* Roundess */
  
  .buttonContainer-1502pf, [class="wrapper-2vIMkT"], .isHeader-2bbX-L, .button-3bklZh, [role="menuitem"], [role="tab"], [role="button"] {
    border-radius: var(--bubble-radius) !important;
  }
  
  .jumpButton-1V_1FA {
    .messages-23can0 {
      border-radius: var(--bubble-radius) !important;
    }
  
    padding: var(--bubble-padding-small);
  }
  
  /* Windows Bar */
  
  .withFrame-2dL45i {
    height: 15px;
    margin-top: 0px;
    position: relative;
    background-color: var(--background-primary);
  }
  
  .winButton-3UMjdg {
    transform: scale(1);
    height: 31px;
    border-radius: var(--bubble-radius);
    width: 32px;
    right: 10px;
    margin-top: 22px;
    padding-left: 6px;
    padding-right: 6px;
  }
  
  [role="button"][aria-label="Close"]:hover {
    background-color: var(--main-colour2);
  }
  
  .wordmark-2u86JB {
    &:after {
      color: rgb(247, 245, 245);
      content: "" var(--wordmark-text) " | " var(--version) "";
      display: var(--watermark);
      font-size: 14.5px;
      font-weight: 700;
      position: absolute;
      width: 4000px;
      top: 10px;
      left: -40%;
    }
  
    > svg {
      width: 0px;
    }
  }
  
  /* Titlebar */
  
  .title-17SveM, .toolbar-3_r2xA {
    margin-right: 140px;
    margin-bottom: 10px !important;
    background-color: transparent !important;
  }
  
  .children-3xh0VB {
    margin-right: 140px;
    margin-bottom: 10px !important;
    background-color: transparent !important;
    margin-right: 0px;
  }
  
  .title-17SveM {
    margin-bottom: -0px !important;
    margin: 0px !important;
  }
  
  .iconWrapper-2awDjA {
    &::after {
      content: attr(aria-label);
      font-size: 15px;
      padding-left: 30px;
      padding-right: 2px;
      bottom: 25px;
      position: relative;
      text-transform: capitalize;
    }
  
    &:hover {
      color: var(--alt-color2);
    }
  }
  
  [class="icon-1ELUnB iconWrapper-2awDjA clickable-ZD7xvu"] {
    padding-right: -10px !important;
    margin-left: 40px !important;
    position: relative;
  }
  
  .clickable-ZD7xvu .icon-2xnN2Y {
    bottom: 0px !important;
    position: relative;
    transform: scale(0.8);
    margin-top: -3px;
  }
  
  .icon-1ELUnB::after {
    bottom: 0px;
    left: -20px;
  }
  
  .icon-2xnN2Y {
    &[width="24"][height="24"][viewBox="0 0 24 24"] {
      bottom: 50px !important;
      margin-top: -3px;
    }
  
    margin-top: 2px;
    top: -3px;
  }
  
  .iconWrapper-2awDjA[aria-label="Threads"] svg.icon-2xnN2Y {
    top: 1px;
    margin-left: 0px !important;
    margin: 0px !important;
  }
  [class="icon-1ELUnB iconWrapper-2awDjA clickable-ZD7xvu"] {
    margin-left: 10px !important; 
  }
  
  .container-ZMc96U.themed-Hp1KC_ {
    left: -0px;
    top: 15px;
    position: fixed;
    z-index: 99;
  }
  
  .children-3xh0VB .iconWrapper-2awDjA .icon-2xnN2Y {
    left: 4px;
    top: -3px;
    position: relative;
  }
  
  [class="icon-2xnN2Y"][viewBox="0 0 40 40"] {
    position: absolute !important;
    margin-left: 10px;
    margin-top: 7px;
  }
  
  .iconWrapper-2awDjA::after {
    display: var(--topbar-label-buttons);
  }
  
  .homeIcon-r0w4ny {
    path {
      display: none;
    }
  
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: scale(0.95);
  }
  
  .theme-dark .homeIcon-r0w4ny {
    background-image: url(https://raw.githubusercontent.com/leeprky/leeprky.github.io/gh-pages/images/Themes/MaterialYouTheme/material-home-icon-dark.png);
  }
  
  .theme-light .homeIcon-r0w4ny {
    background-image: url(https://raw.githubusercontent.com/leeprky/leeprky.github.io/gh-pages/images/Themes/MaterialYouTheme/material-home-icon-light.png);
  }
  
  /* Screen sizes */
  @media only screen and (max-width: 1490px) {
    .toolbar-3_r2xA .iconWrapper-2awDjA::after {
      display: none;
    }
    .children-3xh0VB {
      z-index: 9999 !important;
    }
    .focused-1xh-wG .searchBar-jGtisZ, .open-1F8u2c .searchBar-jGtisZ {
      width: 120px;
  }
  }

  @media only screen and (max-width: 980px) {
    .container-2o3qEW {
      width: 60px;
    }

    .membersGroup-2eiWxl {
      font-size: 7px !important;
    }
    .roleIcon-2cey4v {
      display: none;
    }
    .membersGroup-2eiWxl::after {
      margin-left: -18px !important;
    }
  }
  
  /* Bubble Padding */
  
  .topic-11NuQZ {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 0;
    margin: 0 0 0 8px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    line-height: 18px;
    text-transform: capitalize;
    color: var(--headers-secondary);
  }
  
  .title-17SveM {
    background-color: rgba(var(--alt-color), 0.2);
    border-radius: var(--bubble-radius);
    padding: var(--bubble-padding-small);
    height: 30px !important;
    margin-left: 260px !important;
    font-size: 15px;
    text-transform: capitalize;
  }
  
  .divider-q3P9HC {
    background: rgba(var(--main-colour), 30%) !important;
    border-radius: 100%;
    width: 3px;
    height: 15px;
  }
  
  [class="followButton-1N-GGp button-f2h6uQ lookFilled-yCfaCM colorPrimary-2AuQVo sizeMin-DfpWCE grow-2sR_-F"] {
    border-radius: var(--bubble-radius);
    margin-left: 10px;
  }
  
  .iconWrapper-2awDjA {
    background-color: rgba(var(--alt-color), 0.2);
    border-radius: var(--bubble-radius);
    padding: var(--bubble-padding-small);
    height: 30px !important;
  }
  
  .chatContent-3KubbW, .bg-1QIAus {
    background-color: var(--background-secondary);
  }
  
  /* Channel List */
  @font-face {
    font-family: dash2space;
    unicode-range: U+002D;
    src: url(https://smarty6788.github.io/Dash2Space/src/font/dash2space.ttf) format("truetype"), url(https://smarty6788.github.io/Dash2Space/font/dash2space.woff2) format("woff2");
  }
  
  #app-mount [data-list-item-id*="channels___upcoming-events-"] > div.name-28HaxV {
    font-size: 14px;
    font-family: dash2space, var(--font-primary);
    text-transform: capitalize;
  }
  
  .autocompleteRowVertical-EA9dCg[data-list-item-id*=channel-autocomplete] .autocompleteRowContentPrimary-1kUW9H .colorInteractiveActive-30E9n8, .content-2a4AW9 .emptyChannelIcon-1YdEz2 ~ .size32-5yOQel, .quickswitcher-pKcM9U .result-u66Ywh .match-20K5f5, .sidebar-1tnWFu .mainContent-20q_Hp[href] .channelName-3KPsGw, .title-31SJ6t .iconWrapper-2awDjA + .title-17SveM, .wrapper-1ZcZW-[class="wrapper-1ZcZW- mention interactive"] {
    font-family: dash2space, var(--font-primary);
    text-transform: capitalize;
  }
  
  .sidebar-1tnWFu {
    border-radius: 0px !important;
  }
  
  .iconContainer-21RCa3 {
    transform: scale(0.7);
  }
  
  .channelName-3KPsGw {
    transform: scale(0.93);
    margin-left: -5px;
    text-transform: capitalize;
  }
  
  @font-face {
    font-family: dash2space;
    unicode-range: U+002D;
    src: url(https://smarty6788.github.io/Dash2Space/src/font/dash2space.ttf) format("truetype"), url(https://smarty6788.github.io/Dash2Space/font/dash2space.woff2) format("woff2");
  }
  
  .title-17SveM {
    text-transform: capitalize;
    font-family: dash2space, var(--font-primary);
  }
  
  .guilds-2JjMmN {
    width: 81.2px;
    position: relative;
    margin-top: 40px;
    padding-bottom: 00px;
  }
  
  .container-1NXEtd {
    margin-top: 48px;
    margin-bottom: 25px;
  }
  
  .scroller-3X7KbA {
    padding: 5.5px;
    padding-top: 20px !important;
  }
  
  .fade-1R6FHN {
    -webkit-mask-image: linear-gradient(to bottom, black var(--sidebar-fade), transparent 100%);
  }
  
  .platform-win .sidebar-1tnWFu, .container-1NXEtd {
    overflow: visible;
  }
  
  .platform-win {
    .layers-OrUESM, .layers-1YQhyW, .layers-OrUESM > .layer-86YKbF, .container-1eFtFS {
      overflow: visible;
    }
  }
  
  .searchAnswer-23w-CH, .searchFilter-2UfsDk, [data-offset-key="6ttlm-4-0"] {
    background-color: var(--background-secondary) !important;
  }
  
  .search-39IXmY {
    margin: 0 8px;
  }
  
  .searchBar-jGtisZ {
    background-color: rgba(var(--alt-color), 0.2);
    border-radius: var(--bubble-radius);
    width: 82px;
    transition: 300ms;
    height: 30px !important;
  }
  
  [class="search-1FM8Qc open-3y3yI_ focused-8aNhVB"] .searchBar-jGtisZ, [data-text="true"], [class="search-1FM8Qc open-3y3yI_"] .searchBar-jGtisZ {
    width: 162px;
    transition: 300ms;
  }
  
  .searchBar-jGtisZ .icon-tZMHgY {
    margin-right: 150px;
    position: absolute;
  }
  
  .icon-18rqoe {
    color: var(--button-interactive) !important;
    transform: scale(1.1) !important;
    margin-top: 3px;
    margin-left: -00px;
  }
  
  .search-2Mwzzq .DraftEditor-root {
    .public-DraftEditor-content, .public-DraftEditorPlaceholder-root {
      color: var(--text) !important;
      margin-top: 2px;
      margin-left: 23px !important;
    }
  }
  
  .searchBar-jGtisZ {
    margin-top: -1px;
    margin-left: 0px;
  }
  
  [class="container-2McqkF elevationBorderHigh-3drnJX"][style="width: 320px;"] {
    margin-top: 15px !important;
    position: absolute;
    left: -190px !important;
    border-radius: var(--bubble-radius);
    background-color: var(--floating);
  }
  
  .theme-dark .option-ayUoaq:after {
    background: none;
  }
  
  .members-3WRCEx {
    padding-top: 25px;
  
    > div {
      padding-top: 25px;
    }
  }
  
  [class="membersWrap-3NUR2t hiddenMembers-8kpYM0"] {
    margin-top: -1px;
    z-index: 1;
  }
  
  .membersGroup-2eiWxl {
    padding: 14px 22px 12px 16px;
    height: 40px;
  }
  
  .roleIcon-2cey4v {
    margin-right: 10px;
  }
  
  .layout-1qmrhw {
    border-radius: var(--bubble-radius);
  }
  
  .container-YkUktl {
    height: 45px;
    position: relative;
    bottom: 20px;
    background-color: var(--background-primary);
    border-radius: var(--bubble-radius);
  }
  
  .powercord-spotify.hover .container-YkUktl {
    height: 135px;
    position: relative;
    background-color: var(--background-primary);
    border-radius: var(--bubble-radius);
  }
  
  .activityPanel-9icbyU {
    height: 30px;
    position: relative;
    bottom: 25px;
    background-color: var(--background-primary);
    border-radius: var(--bubble-radius);
    margin-top: 10px;
  }
  
  #app-mount .lookFilled-yCfaCM.colorBrand-I6CyqQ:not(.buttonActive-Uc1jHx) {
    border-radius: var(--bubble-radius) !important;
  }
  
  .actionButtons-2vEOUh {
    margin-top: 4px;
  }
  
  .container-1zzFcN {
    height: 72px;
    position: relative;
    bottom: 25px;
    margin-top: 5px;
    background-color: var(--background-primary);
    border-radius: var(--bubble-radius);
  }
  
  :root {
    --spotify-color:var(--main-colour2) !important;
  }
  
  .powercord-spotify.hover {
    .nameTag-sc-gpq, .spotify-buttons button {
      margin-top: -38px;
      transition: 300ms;
    }
  
    .avatar-1EWyVD.spotify-cover {
      top: -19px !important;
      transform: scale(0.9);
      position: relative;
      transition: 300ms;
    }
  
    .spotify-extra-controls {
      margin-top: -35px;
      transition: 300ms;
    }
  
    [class="flex-2S1XBF flex-3BkGQD horizontal-112GEH horizontal-1Piu5- flex-3BkGQD directionRow-2Iu2A9 justifyStart-2Mwniq alignStretch-Uwowzr noWrap-hBpHBz spotify-buttons"] [aria-label="Mute"] {
      top: 5px;
      display: flex !important;
    }
  }
  
  [class="flex-2S1XBF flex-3BkGQD horizontal-112GEH horizontal-1Piu5- flex-3BkGQD directionRow-2Iu2A9 justifyStart-2Mwniq alignStretch-Uwowzr noWrap-hBpHBz spotify-buttons"] [aria-label="Mute"] {
    display: none;
  }
  
  .powercord-spotify.hover .title-338goq::after {
    content: "Spotify";
    position: absolute;
    background-color: rgba(var(--main-colour), 50%);
    border-radius: var(--bubble-radius);
    padding: 2px;
    right: 10px;
    top: 10px;
    width: 65px;
    text-align: center;
    font-size: 14px;
    display: var(--spotify-title-in-music-player);
  }
  
  .spotify-extra-controls {
    position: relative;
    top: -45px;
    transition: 300ms;
    border-radius: var(--bubble-radius);
  }
  
  .powercord-spotify {
    &.hover .spotify-seek {
      position: relative;
      top: -45px;
      left: 15px;
      width: 212px;
      transition: 300ms;
      border-radius: var(--bubble-radius);
    }
  
    .spotify-seek-bar {
      background-color: rgba(var(--alt-color), 30%);
      border-radius: var(--bubble-radius);
    }
  }
  
  .spotify-seek-duration {
    top: 22px;
    left: -5px;
    transform: scale(0.8);
    position: relative;
    border-radius: var(--bubble-radius);
  }
  
  .spotify-seek.no-premium {
    .spotify-seek-elements, .spotify-seek-bar {
      display: none;
    }
  }
  
  .scrollableContainer-15eg7h {
    background-color: var(--background-primary) !important;
    border-radius: var(--bubble-radius) !important;
  }
  
  .channelTextArea-1FufC0 {
    background-color: transparent;
  }
  
  .button-12Fmur {
    border-radius: var(--bubble-radius);
  }
  
  .header-3OsQeK {
    position: fixed;
    overflow: hidden;
    top: 10px;
    left: 65px;
    z-index: 99999;
    font-size: 14px !important;
    background-color: transparent !important;
    box-shadow: none !important;
  
    &:hover {
      color: var(--button-interactive);
    }
  }
  
  [style="height: 84px;"] {
    display: none;
  }
  
  [class*="animatedContainer-"] {
    opacity: 0.2 !important;
  
    > [class*="bannerImage-"] {
      transition: margin .25s;
    }
  }
  
  :not([class*="bannerVisible-"]) > [class*="animatedContainer-"] {
    opacity: .1 !important;
    height: 168px;
  }
  
  .animatedContainer-2laTjx {
    box-shadow: none !important;
  
    &:after {
      background: linear-gradient(0deg, var(--background-secondary) 30%, transparent 100%);
      position: absolute;
      content: '';
      height: 30px;
      width: 100%;
      bottom: 0;
    }
  }
  
  .name-3Uvkvr {
    color: var(--button-interactive);
    max-width: 220px;
  }
  
  [class*="jumpToPresentBar"] {
    display: contents;
  
    > button {
      &:first-child {
        display: none;
      }
  
      &:last-child {
        position: absolute;
        bottom: 24px;
  
        /* fixed the position relative to right part */
        right: 22px;
  
        /* so it doesn't look so close/odd */
        padding: 8px !important;
        height: auto;
        background-color: var(--background-primary);
  
        /* changed color to darker gray */
        /*box-shadow: var(--elevation-high); I don't like the shadow */
        border-radius: 100px;
        display: flex;
        font-size: 0;
        color: transparent;
        transition: font-size .2s .1s, color .2s, padding .4s .1s;
      }
  
      svg {
        order: -1;
        margin: 0;
        height: 24px;
        width: 24px;
        top: unset;
        margin-right: 4px;
        margin-left: 0;
        margin-right: 0;
        color: var(--text-normal);
        transition: margin .6s;
      }
    }
  
    &:hover > button {
      padding: 8px 18px !important;
      font-size: 14px;
      color: var(--text-normal);
      transition: font-size .2s, color .2s .1s, padding .4s;
  
      svg {
        margin-right: 2px;
        margin-left: -6px;
      }
    }
  }
  
  .repliedMessage-3Z6XBG {
    background-color: VAR(--background-primary);
    border-radius: var(--bubble-radius);
    padding: 8px;
  }
  
  :root {
    --sidebar-width:240px;
  
    /* change if your theme resizes the sidebar */
  }
  
  .chat-2ZfjoI {
    &.threadSidebarOpen-1LSXvU {
      resize: horizontal;
      min-width: 400px;
      max-width: calc(100vw - var(--sidebar-width) - 72px - 400px);
    }
  
    &:not(.threadSidebarOpen-1LSXvU) {
      width: unset !important;
      flex: 1 1 auto;
    }
  }
  
  .threadSidebar-1o3BTy {
    width: unset;
    flex: 1 1 auto;
  }
  
  .group-spacing-16 .divider-IqmEqJ.beforeGroup-1BvJAt, .unreadPill-3nEWYM, .unreadPillCap-2-iI4h, .group-spacing-16 .divider-IqmEqJ.hasContent-1y12-u {
    background-color: rgba(var(--alt-color), 0.3);
    background-color: rgba(var(--alt-color), 0.3);
    background-color: rgba(var(--alt-color), 0.3);
    border-radius: var(--bubble-radius);
    padding: 0.5px;
  }
  
  .isUnread-3Lojb- {
    .content-3spvdd {
      color: var(--alt-color2);
      padding: var(--bubble-padding-small);
    }
  
    .unreadPill-3nEWYM {
      display: none;
    }
  }
  
  .unreadPillCap-2-iI4h {
    display: none;
  }
  
  .app-focused .isUnread-3Lojb- {
    border-color: rgba(var(--alt-color), 0.5) !important;
  }
  
  .unreadPill-3nEWYM, .unreadPillCap-2-iI4h {
    padding: var(--bubble-padding-small);
    margin-top: 10px;
    margin-left: 0%;
    position: relative;
  }
  
  .unreadPillCapStroke-1nE1Q8, .unreadPillCap-2-iI4h {
    display: none;
  }
  
  :root {
    --roundness:50%;
  }
  
  .wrapper-28eC3z {
    svg foreignObject {
      border-radius: var(--roundness);
      mask: none;
  
      .folderIconWrapper-1oRIZr {
        border-radius: 0;
      }
    }
  
    .upperBadge-1V6Iyi {
      right: -5px;
      top: -5px;
  
      .iconBadge-32fMme {
        background-color: var(--background-secondary);
        border-radius: var(--roundness);
      }
    }
  
    .lowerBadge-3WTshO {
      bottom: -5px;
      right: -5px;
  
      .numberBadge-37OJ3S {
        border-radius: var(--roundness);
      }
    }
  }
  
  .circleIconButton-1VxDrg {
    color: var(--interactive-normal);
  
    &:hover {
      background-color: var(--background-secondary);
      color: var(--interactive-hover);
    }
  }
  
  .childWrapper-1j_1ub:hover, .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
    background-color: var(--background-secondary) !important;
  }
  
  .wrapperSimple-Js2rIO {
    border-radius: 0;
  }
  
  .circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color: var(--green-color) !important;
  }
  
  .guildIcon-2I5sfu {
    border-radius: var(--roundness);
  }
  
  .wrapper-1VLyxH[data-bsi-radial-status="true"] {
    .dots-1BwzZQ {
      overflow: visible;
  
      circle {
        cy: -7.5;
  
        &:nth-child(1) {
          cx: -8.5;
        }
  
        &:nth-child(2) {
          cx: -2.25;
        }
  
        &:nth-child(3) {
          cx: 4;
        }
      }
    }
  
    foreignObject[mask*="typing"] {
      mask: none;
  
      .avatar-b5OQ1N {
        border-radius: 50%;
      }
    }
  
    .pointerEvents-9SZWKj[mask="url(#svg-mask-status-typing)"] {
      x: 1;
      y: 1;
      width: 30px;
      height: 30px;
      fill: rgba(0, 0, 0, 0.75);
      clip-path: circle();
    }
  }
  
  /*Everything Offline*/
  
  .tipTitle-3FYEQp {
    content: "";
    font-size: 0px;
  
    &::before {
      content: "Hey...";
      font-size: 12px;
    }
  }
  
  .tip-1AwED_ {
    content: "";
    font-size: 0px;
  
    &::before {
      content: "You're Offline bro...";
      font-size: 16px;
    }
  }
  
  .problems-CvGwpb.slideIn-VAD-dp, .tip-1AwED_ > .keybindShortcut-3zF1P9.keybind-2rkdVo {
    display: none;
  }
  
  .container-2RRFHK.fixClipping-3GOd_d {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
  }
  
  .roleName-2ZJJYR {
    overflow: auto;
    text-overflow: unset;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .emoji.jumboable {
    width: 5rem;
    height: 5rem;
    min-height: 5rem;
  }
  
  /*message shape*/
  
  .cozy-VmLDNB.wrapper-30-Nkg {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  
  .cozyMessage-1DWF9U:not(.groupStart-3Mlgv1) > .contents-2MsGLg > .markup-eYLPri:not(:empty) {
    border-radius: 6px 15px 15px 6px;
  }
  
  .contents-2MsGLg > .markup-eYLPri:not(:empty) {
    display: inline-block;
    max-width: 650px;
    margin: 0;
    padding: 8px 12px 7px;
    border-radius: var(--bubble-radius) !important;
    position: relative;
    overflow: visible;
  }
  
  .container-2sjPya, .markup-eYLPri a, .embedFull-1HGV2S {
    border-radius: var(--bubble-radius) !important;
    border-color: var(--background-secondary) !important;
  }
  
  [class="embedWrapper-1MtIDg embedFull-1HGV2S embed-hKpSrO markup-eYLPri"] {
    width: fit-content;
    min-width: 100px;
  }
  
  /*bubble color*/
  
  .theme-light [data-is-author-self=false] .markup-eYLPri:not(:empty) {
    background-color: #E4E6EB;
  }
  
  .theme-dark [data-is-author-self=false] .markup-eYLPri:not(:empty) {
    background-color: rgba(var(--alt-color), 0.1);
  }
  
  [data-is-author-self=true] > .contents-2MsGLg > .markup-eYLPri:not(:empty) {
    background-image: linear-gradient(rgba(var(--alt-color), 0.3) 0%, rgba(var(--alt-color), 0.3) 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  /*text style*/
  
  .container-x059i8 * {
    color: #fff !important;
    font-size: 15px;
    line-height: 20px;
  }
  
  .contents-2MsGLg > .markup-eYLPri {
    color: #fff !important;
    font-size: 15px;
    line-height: 20px;
  
    > * {
      color: #fff !important;
      font-size: 15px;
      line-height: 20px;
    }
  }
  
  .theme-light [data-is-author-self=false] {
    .container-x059i8 * {
      color: #000 !important;
    }
  
    .markup-eYLPri {
      color: #000 !important;
  
      > * {
        color: #000 !important;
      }
    }
  }
  
  /*last rounded corner*/
  
  .groupStart-3Mlgv1:before, .hasContent-31hcsn:before, .cozyMessage-1DWF9U + .scrollerSpacer-3AqkT9:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    position: absolute;
    border-bottom-left-radius: 20px;
    border: 5px !important;
    border-right: 0;
    border-top: 0;
  }
  
  .groupStart-3Mlgv1:before {
    transform: translate(-20%, -156%);
  }
  
  .hasContent-31hcsn:before {
    left: 51px;
    transform: translateY(-132%);
  }
  
  .cozyMessage-1DWF9U + .scrollerSpacer-3AqkT9:before {
    left: 67px;
    transform: translateY(-84%);
  }
  
  .mentioned-Tre-dv {
    &:before {
      left: unset;
      top: unset;
      bottom: unset;
    }
  
    + *:before {
      visibility: hidden;
    }
  }
  
  .isUnread-3Lojb-.hasContent-31hcsn + .groupStart-3Mlgv1:before, .hasContent-31hcsn + .groupStart-3Mlgv1:before, .backgroundFlash-1X5jVs:before {
    visibility: hidden;
  }
  
  .groupStart-3Mlgv1:before, .hasContent-31hcsn:before, .cozyMessage-1DWF9U + .scrollerSpacer-3AqkT9:before {
    display: none;
  }
  
  .mentioned-Tre-dv {
    background-color: rgba(var(--alt-color), 0.1);
    border-radius: var(--bubble-radius);
    width: fit-content;
    height: fit-content;
  }
  
  .markup-eYLPri a {
    color: var(--links) !important;
  }
  
  .cozy-VmLDNB .header-2jRmjb {
    margin-bottom: 5px;
    margin-left: 2px;
  }
  
  .username-h_Y3Us {
    font-weight: 500;
  }
  
  .theme-dark .form-3gdLxP:before {
    display: none;
  }
  
  .cozy-VmLDNB.wrapper-30-Nkg > .cozy-VmLDNB .timestamp-p1Df1m {
    display: flex;
  }
  
  .mentioned-Tre-dv {
    background-color: transparent !important;
  }
  
  .cozyMessage-1DWF9U.groupStart-3Mlgv1:hover ~ .cozy-VmLDNB .timestamp-p1Df1m {
    display: block !important;
  }
  
  .newMessagesBar-1hF-9G {
    top: 20px;
    border-radius: var(--bubble-radius);
  }
  
  .peopleColumn-1wMU14 .peopleListItem-u6dGxF, .listItemContents-2n2Uy9, .userInfo-2WpsYG, .peopleListItem-u6dGxF {
    border-radius: var(--bubble-radius) !important;
  }
  
  .peopleColumn-1wMU14 {
    .scrollerBase-_bVAAt, .userInfo-2WpsYG::before {
      border-radius: var(--bubble-radius) !important;
    }
  }
  
  .container-2giAcK {
    position: relative;
    border-radius: var(--bubble-radius);
    background-color: var(--background-primary);
    padding: var(--bubble-padding-small);
    height: 40px;
    margin: -8px 0 4px 8px;
  }
  
  [class="divider-3qUeLQ"] {
    display: none;
  }
  
  .unreadBottom-3Ojk6R {
    margin-bottom: 10px;
    width: 110px;
    margin-left: 50px;
    border-radius: var(--bubble-radius);
    padding: var(--bubble-padding-small);
  }
  
  .unreadTop-1DJtGv {
    margin-top: 5px;
    margin-left: 50px;
    width: 110px;
    border-radius: var(--bubble-radius);
    padding: var(--bubble-padding-small);
  }
  
  .mention-3XBnnZ {
    background-color: var(--main-colour2);
  }
  
  .mainContent-20q_Hp[tabindex="-1"][role="listitem"] {
    position: relative;
    border-radius: var(--bubble-radius);
    width: 10px !important;
    height: 40px;
    padding: var(--bubble-padding-small);
    margin: 0px -10px 0px -10px;
    background-color: var(--background-primary) !important;
  }
  
  .wrapper-NhbLHG:hover .content-1gYQeQ {
    border-radius: var(--bubble-radius) !important;
  }
  
  .modeSelected-3DmyhH {
    .content-1gYQeQ, &:hover .content-1gYQeQ {
      border-radius: var(--bubble-radius);
      background-color: rgba(var(--main-colour), 0.5) !important;
    }
  }
  
  .mainContent-20q_Hp:before {
    border-radius: var(--bubble-radius) !important;
  }
  
  .wrapper-NhbLHG {
    margin-top: 2px;
  }
  
  #app-mount .side-2ur1Qk .item-3XjbnG, [type="button"] {
    border-radius: var(--bubble-radius);
  }
  
  /* Popout Modal Small */
  
  .userPopout-2j1gM4 {
    border-radius: var(--bubble-radius);
    width: 300px !important;
  
    .divider-1wtgZ3 {
      display: none;
    }
  
    .popoutBannerPremium-3i5EEI, .popoutBanner-3cqRD9 {
      border-radius: var(--bubble-radius);
    }
  
    .avatarWrapperNormal-ahVUaC {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  .activityUserPopout-2MzGCj {
    margin-top: 45px !important;
    margin-left: 6px;
    margin-right: 6px;
  
    &::before {
      content: " ";
      position: absolute;
      left: 0px;
      width: 100%;
      height: 1px;
      margin-top: -45px;
      background-color: var(--background-modifier-accent);
    }
  
    &::after {
      content: "activity";
      text-transform: uppercase;
      position: absolute;
      top: -25px;
      left: 2px;
      color: var(--header-secondary);
      font-weight: 700;
      font-size: 12px;
      font-family: var(--font-display);
      line-height: 16px;
    }
  }
  
  .theme-dark {
    .newPopoutActivityStyles .headerText-3g1XK9, .newProfileActivityStyles .headerText-3g1XK9 {
      color: var(--header-secondary);
      display: none;
    }
  }
  
  .theme-light {
    .newPopoutActivityStyles .headerText-3g1XK9, .newProfileActivityStyles .headerText-3g1XK9 {
      color: var(--header-secondary);
      display: none;
    }
  }
  
  .headerTop-3GPUSF {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .userPopout-2j1gM4 {
    .profileBadges-2pItdR {
      top: 7px;
      right: 10px;
      max-width: 110px;
    }
  
    .headerText-1-WmDq {
      margin: -5px 0 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  .customStatus-3XAoF9 {
    padding: 10px;
    border-radius: var(--bubble-radius);
    background: var(--background-primary);
  
    > .customStatusEmoji-1bFQdD.customStatusSoloEmoji-2bSRlG:only-child {
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  .userPopout-2j1gM4 {
    .aboutMeSection-PUghFQ {
      .aboutMeBody-1J8rhz {
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
        border-radius: var(--bubble-radius);
        background: var(--background-primary);
        overflow: hidden scroll;
  
        &::-webkit-scrollbar {
          width: 0.25em !important;
          border-radius: var(--radius-primary);
          height: 0px !important;
          background: transparent !important;
        }
  
        &::-webkit-scrollbar-thumb {
          background: var(--background-secondary-alt);
          border-radius: var(--bubble-radius);
        }
      }
  
      margin-top: 20px;
  
      &::before {
        content: " ";
        position: absolute;
        left: 16px;
        width: 92%;
        height: 1px;
        margin-top: -12px;
        background-color: var(--background-modifier-accent);
      }
    }
  
    .aboutMeTitle-3pjiS7 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: 700;
      margin: 0 0 8px 6px;
    }
  
    .bodyTitle-2Az3VQ {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-weight: 700;
      margin: 0 0 8px 6px;
      margin-top: 28px;
  
      &::before {
        content: " ";
        position: absolute;
        left: 16px;
        width: 92%;
        height: 1px;
        margin-top: -15px;
        background-color: var(--background-modifier-accent);
      }
    }
  
    .note-Go5ZP2 {
      background: var(--background-primary);
      padding: 10px;
      margin: 3px;
      border-radius: var(--bubble-radius);
      display: var(--display-notes-in-popout) !important;
    }
  }
  
  .note-Go5ZP2 {
    display: var(--display-notes-in-popout) !important;
  }
  
  .userPopout-2j1gM4 {
    .aboutMeTitle-3pjiS7, .bodyTitle-2Az3VQ {
      display: var(--display-notes-in-popout) !important;
    }
  }
  
  .activityUserPopout-2MzGCj {
    &::after, &::before {
      display: var(--display-notes-in-popout) !important;
    }
  }
  
  .rolesList-3uZoaa ::-webkit-scrollbar {
    display: none !important;
  }
  
  .userPopout-2j1gM4 .input-2z42oC {
    background: var(--background-primary);
    border-radius: var(--bubble-radius);
  }
  
  .activityUserPopout-2MzGCj {
    background-color: var(--background-primary) !important;
    border-radius: var(--bubble-radius);
    padding: 10px;
    margin: 3px;
    margin-bottom: 12px;
    margin-top: -5px !important;
  }
  
  .userPopout-2j1gM4 .rolesList-3uZoaa {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--background-primary);
    padding: 10px;
    border-radius: var(--bubble-radius);
  }
  
  .rolesList-3uZoaa {
    .role-2TIOKu {
      font-size: 12px;
      font-weight: 500;
      background: var(--background-secondary-alt);
      border-radius: 8px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 26px;
      margin: 0 6px 7px 0;
      padding: 6px;
  
      .roleCircle-1EgnFN {
        border-radius: 40%;
        width: 12px;
        height: 12px;
        padding: 0;
        margin: 0 7px 0 2px;
      }
    }
  
    > .role-2TIOKu {
      border-radius: var(--bubble-radius) !important;
    }
  }
  
  /* Had to import because of discord's character limit lol */
  
  :root {
    --radius:10px !important;
  
    /** Number of role columns */
    --roleslist-columns:2;
  }
  
  .rolesList-3uZoaa {
    display: grid;
    grid-template-columns: repeat(var(--roleslist-columns), minmax(0, 1fr));
    background: var(--background-tertiary);
    padding: 12.5px;
    gap: 4.5px;
    border-radius: 8px;
    max-height: 150px;
    overflow: auto;
  
    &::-webkit-scrollbar {
      width: 4.5px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: var(--background-modifier-hover);
    }
  
    > .role-2TIOKu {
      margin: 0;
      justify-content: center;
    }
  
    .roleCircle-1EgnFN {
      flex-shrink: 0;
    }
  
    .roleName-2ZJJYR {
      margin: auto;
    }
  }
  
  .addButton-1_dZYu {
    grid-column: (1 / span) var(--roleslist-columns);
  
    &::before {
      content: attr(aria-label);
      text-transform: capitalize;
    }
  }
  
  .addButtonIcon-3HZ_2f, [class="channelTextArea-1FufC0 channelTextArea-1VQBuV channelTextAreaDisabled-1p2fQv"] {
    display: none;
  }
  
  /* */
  
  html {
    scroll-behavior: smooth !important;
  }
  
  .content-1U25dZ, .name-3Vmqxm {
    font-size: 13px;
    margin-top: -1px;
  }
  
  .avatar-6qzftW {
    transform: scale(0.97);
  }
  
  .px-MnE_OR.botTag-7aX5WZ {
    margin-left: 3px;
    margin-top: -1px;
    transform: scale(0.91);
    border-radius: var(--bubble-radius);
  }
  
  .unreadMentionsIndicatorBottom-3RJMnQ {
    border-radius: var(--bubble-radius) !important;
    padding: var(--bubble-padding-small);
    position: absolute;
    left: 6px;
    bottom: 5px;
    width: 70px;
    transition: 300ms;
  }
  
  .unreadMentionsIndicatorTop-2bTgUU {
    border-radius: var(--bubble-radius) !important;
    padding: var(--bubble-padding-small);
    position: absolute;
    left: 6px;
    top: 5px;
    width: 70px;
    transition: 300ms;
  }
  
  /* Friends Tab */
  
  .peopleColumn-1wMU14, .container-1oAagU {
    background-color: var(--background-secondary) !important;
  }
  
  .peopleColumn-1wMU14 {
    background-color: VAR(--secondary-background) !important;
  }
  
  .scroller-WSmht3, .privateChannels-oVe7HL, .searchBar-3TnChZ {
    box-shadow: none !important;
  }
  
  .content-1SgpWY .container-2cd8Mz .container-ZMc96U.themed-Hp1KC_ .children-3xh0VB .title-17SveM, .libraryHeader-2loraV .children-3xh0VB .title-17SveM, .homeWrapperNormal-bu1BS6 .headerBar-1dSpQr .children-3xh0VB .title-17SveM {
    margin-left: 15px !important;
  }
  
  .divider-q3P9HC {
    height: 30px;
  }
  
  .searchHeader-1r_ZSh {
    margin-top: 50px;
    background-color: var(--secondary-background);
  }
  
  .searchHeaderTabList-3CZMQB {
    margin-top: 50px;
    background-color: var(--secondary-background);
    margin-top: 0px !important;
  }
  
  .icon-E4cW1l {
    display: none;
  }
  
  .replyBar-1oi75v {
    background-color: var(--background-primary);
    border-radius: var(--bubble-radius);
    margin-bottom: 5px;
    width: fit-content !important;
  }
  
  .base-3bcbY3 .cooldownWrapper-2k1jHK {
    color: var(--button-interactive) !important;
  }
  
  .colorStreamerMode-8uoRWd {}
  
  .notice-2HEN-u {
    position: absolute;
    top: 58px;
    left: 700px;
    border-radius: var(--bubble-radius) !important;
    padding: 9px;
    padding-right: 30px !important;
  }
  
  .noticeWrapper-8z511t {
    position: absolute;
    top: 58px;
    left: 700px;
    border-radius: var(--bubble-radius) !important;
    padding: 9px;
    padding-right: 30px !important;
    background-color: var(--alt-color2);
  }
  
  .closeButton-30b1gR {
    right: -2px !important;
    top: 7.5px;
  }
  
  /* Compact Expanded Popouts - Leeprky#2063# */
  
  :root {
    --premium-size:480px;
    --premium-opacity:.25;
    --premium-blur:blur(2.6px);
  }
  
  /* 50px For Banner | 400 For Full */
  
  .theme-dark .root-g14mjS .body-1Ukv50, .topSection-13QKHs .tabBarContainer-sCZC4w .tabBar-2hXqzU, .tabBarItem-30Te4- {
    display: table;
    margin-bottom: 15px !important;
    font-size: 16px;
    margin-left: 8px;
  }
  
  .theme-dark .root-g14mjS .tabBarContainer-sCZC4w {
    top: 100px;
    position: relative;
  }
  
  .nameTag-2Nlmsy {
    top: 80px;
    left: 20px;
  }
  
  .top-K_jibn {
    .item-3XjbnG, .selected-g-kMVV.themed-2-lozF.item-3XjbnG, .themed-2-lozF.item-3XjbnG:active {
      border-bottom-color: transparent;
      border-bottom: transparent;
      margin-bottom: 20px;
      top: 20px;
    }
  }
  
  .body-1Ukv50 {
    position: absolute;
    background-color: transparent;
    left: 190px;
    top: 30px;
    height: 350px;
    width: 400px;
  }
  
  .profileBannerPremium-KD60EB {
    height: 475px;
    top: 0;
    height: var(--premium-size);
    background-position: center;
    background-size: cover;
    opacity: var(--premium-opacity);
    position: absolute;
    filter: var(--premium-blur);
  }
  
  .profileBanner-1owKI5, .customStatusText-_4TbWr, .actionButton-iarQTd, .banner-1YaD3N:hover .premiumIconWrapper-32h0Ri {
    display: none;
  }
  
  .actionsProfile-31n1ca {
    position: absolute;
    margin-top: 150px;
    margin-left: -0;
  }
  
  .userInfoSection-2u2hir + .userInfoSection-2u2hir, .tabBarContainer-sCZC4w {
    border: none;
  }
  
  .userProfileActivity-sal5no {
    width: 360px;
    margin-bottom: 30px;
  }
  
  .note-3M15gE textarea {
    margin-bottom: 5px;
  }
  
  .relationshipButtons-3ByBpj {
    bottom: 12px !important;
    left: -35px;
    transform: scale(1.2);
    position: relative;
  }
  
  .avatar-3QF_VA {
    transform: scale(0.8);
    left: 20px;
    margin-top: 20px;
  
    &.wrapper-1VLyxH {
      background-color: transparent;
      border: var(--glasscord-background);
    }
  }
  
  .body-1Ukv50 {
    background-color: transparent;
    border: var(--glasscord-background);
  }
  
  .topSection-13QKHs {
    background-color: transparent;
    border: var(--glasscord-background);
    height: 475px;
  }
  
  .body-1Ukv50, .topSection-13QKHs {
    min-height: 400px;
  }
  
  .theme-dark .root-g14mjS {
    background-color: var(--background-floating) !important;
    border-radius: 16px !important;
  }
  
  :root {
    --user-modal-avatar-size:230px;
    --blur-the-things:0px;
  }
  
  .root-8LYsGj {
    .body-1Ukv50 .listScroller-entkMk {
      padding-left: 45px;
      margin-bottom: 20px !important;
      margin-top: 10px;
  
      .listRow-2nO1T6 {
        display: inline-table;
        align-content: center;
        justify-content: center;
        text-align: center;
      }
    }
  
    .listScroller-entkMk .mask-1FEkla.svg-2azL_l {
      filter: blur(var(--blur-the-things));
      width: calc(var(--user-modal-avatar-size) * 1/3) !important;
      height: calc(var(--user-modal-avatar-size) * 1/3) !important;
    }
  }
  
  .listRow-2nO1T6 .listAvatar-2bU5Uh.wrapper-1VLyxH {
    filter: blur(var(--blur-the-things));
    width: calc(var(--user-modal-avatar-size) * 1/3) !important;
    height: calc(var(--user-modal-avatar-size) * 1/3) !important;
  }
  
  .root-8LYsGj .listScroller-entkMk {
    .listRow-2nO1T6 .iconSizeMedium-2vzSua {
      filter: blur(var(--blur-the-things));
      width: calc(var(--user-modal-avatar-size) * 1/3) !important;
      height: calc(var(--user-modal-avatar-size) * 1/3) !important;
    }
  
    .listName-PwbeHL, .listRowContent-PEmSWj {
      margin-top: 2px;
      display: none;
    }
  }
  
  .listRow-2nO1T6:hover {
    background-color: transparent;
  }
  
  .badgeList-2aoHPw {
    position: absolute;
    top: 90px;
    left: -145px;
    width: 190px;
    transform: scale(0.8);
  }
  
  .userProfileActivity-sal5no {
    border-radius: var(--bubble-radius);
    padding: var(--bubble-padding-small);
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 13px;
    max-width: 300px !important;
  }
  
  .actionsProfile-31n1ca {
    margin-left: 130px;
  }
  
  .menu-1QACrS, .colorDefault-CDqZdO {
    border-radius: var(--bubble-radius);
  }
  
  .channelNotice-7cg_jN {
    background-color: var(--background-primary);
    border-radius: var(--bubble-radius);
    padding: var(--bubble-padding-small);
    margin-top: 10px;
    transform: scale(0.9);
    position: relative;
  }
  
  .autocompleteRowVerticalSmall-2rVED0 .base-2v-uc0 {
    border-radius: var(--bubble-radius) !important;
    transition: 300ms;
    padding: -10px;
  }
  
  /* Replace Wandering Cubes Spinner with gif*/
  
  span[class="inner-26JK4f"] {
    &:after {
      background-image: url('https://i.imgur.com/EoMYriy.gif');
      background-size: cover;
      display: inline-block;
      width: 32px;
      height: 32px;
      content: "";
    }
  
    > * {
      display: none;
    }
  }
  
  .spoilerText-27bIiA {
    background-color: transparent !important;
  
    &.hidden-3B-Rum {
      background-color: transparent !important;
  
      > .inlineContent-2YnoDy {
        opacity: 1 !important;
        filter: blur(3px);
        pointer-events: unset;
      }
    }
  }
  
  .connectedAccountIcon-2vls0t ~ div::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--border-color);
    position: absolute;
    display: block;
    pointer-events: none;
  }
  
  .connectedAccount-1xKpli {
    overflow: hidden;
    position: relative;
    border-radius: var(--bubble-radius) !important;
  }
  
  .userBio-2-tr00 {
    max-width: 360px;
  }
  
  .top-K_jibn {
    bottom: 150px !important;
  }
  
  [class="applicationInstallButton-1-58qm button-f2h6uQ lookFilled-yCfaCM colorBrand-I6CyqQ sizeSmall-wU2dO- grow-2sR_-F"] {
    margin-bottom: -200px;
    left: -80px;
    position: absolute;
  }
  
  [class="privateChannelRecipientsInviteButtonIcon-1ObKXK iconWrapper-2awDjA clickable-ZD7xvu"] {
    background-color: transparent !important;
    margin-top: 0px;
    left: -00px;
  
    &::after {
      display: none;
    }
  }
  
  .peopleColumn-1wMU14 {
    .scrollerBase-_bVAAt {
      background-color: transparent !important;
    }
  
    .listItemContents-2NFd61:hover, .listItemContents-f4Uz5J:hover, .listItemContents-2n2Uy9:hover {
      background-color: var(--background-primary);
    }
  
    background-color: var(--background-secondary) !important;
  }
  
  .membersGroup-2eiWxl {
    margin-bottom: -5px;
  }
  
  .channelNotice-7cg_jN {
    margin-top: -30px !important;
  }
  
  .membersGroup-2eiWxl::after {
    content: "P||||||||||||";
    color: var(--background-secondary);
    background-color: var(--background-secondary);
    margin-left: -21px;
  }

  .popout-1KHNAq {
    margin-top: 5px;
  }
  
  .container-32HW5s {
    border-radius: var(--bubble-radius) !important;
  }

  .theme-dark .perksModal-CLcR1c,   .theme-light .perksModal-CLcR1c {
    background-color: var(--background-primary);
  }

  .theme-dark .perk-19D_HN, .theme-light .perk-19D_HN, .theme-dark .tierHeaderLocked-3ItHYn,   .theme-light .tierHeaderLocked-3ItHYn, .theme-dark .tierBody-3ju-rc, .theme-light .tierBody-3ju-rc {
    background-color: var(--secondary-background);
  }

  .theme-dark .headerExpanded-1-zwDr, .theme-dark .changeDetails-1kMZqI, .theme-dark .auditLog-1NVAY0, .theme-dark .card-WWLYDO {
    border-radius: var(--bubble-radius);
  }

  .theme-dark .background-3xJH_4, .theme-dark .card-3JmxsM, .theme-dark .card-2b4UFN, .emptyCard-VX4hCk, .popout-1KHNAq {
    border-radius: var(--bubble-radius) !important;
  }


  .theme-dark .tierHeaderLocked-30MLlO {
    margin-bottom: 5px;
  }

  .enableContainer-2MEsKV {
    margin-bottom: 5px;
  }

    /* Call */
    .colorable-3rVGna.primaryDark-2UJt1G {
      background-color: var(--alt-color2);
    }
    .colorable-3rVGna.primaryDark-2UJt1G.active-3D763s, .colorable-3rVGna.primaryDark-2UJt1G:hover {
      background-color: rgba(var(--alt-color), 0.5);
    }
  
    .container-ZMc96U.transparent-1lUmft {
      background-color: var(--background-primary);
      position: fixed;
      top: 0px !important;
      left: 0 !important;
    }

    .list-obNEuP {
      background-color: var(--background-secondary);
    }
    .footer-5ji8u1, .header-1w9Q93  {
      background-color: var(--background-floating);
    }
    .messagesPopoutWrap-3zryHW {
      border-radius: var(--bubble-radius);
    }

    .bannerImg-2PzH6z {
      border-radius: 0px !important;
    }

    .membersGroup-2eiWxl.container-q97qHp {
      margin-top: 20px !important; 
    }
    .member-2gU6Ar.container-1oeRFJ.clickable-28SzVr {
      padding-top: 0px !important;
    }

    .content-1jQy2l:before {
      margin-top: 63px;
      margin-left: -1000px;
      width: 10000px;
      z-index: 99999;
      position: fixed;
    }