/*
 __  __  ___  _____  ___  ___  ___  ___  _            ___  ___  ___  ___  _  _ 
|  \/  |/   \|_   _|| __|| _ \|_ _|/   \| |          / __|| _ \| __|| __|| \| |
| |\/| || - |  | |  | _| |   / | | | - || |__       | (_ ||   /| _| | _| | .  |
|_|  |_||_|_|  |_|  |___||_|_\|___||_|_||____|       \___||_|_\|___||___||_|\_|
*/

:root {
    --style-name: "Material Green";
    --style-creator: "Leeprky#2063";
  }
  
  /* Material Green */
  .theme-dark {
      /* Main Colours - Try Keep These The Same */
      --main-colour: 165, 223, 132 !important; /* RGB ONLY */
      --main-colour2: #a5df84 !important; /* HEX ONLY */
      --main-colour3: 98 !important; /* HSL ONLY */
  
      /* Backgrounds */
      --main-background: #16240c !important;
      --secondary-background: #091005!important;
      --tertiary: #000000 !important;
      --floating: #061609 !important;
  
      --headers: #b2f0b9 !important; 
      --headers-secondary: #a9f2ad !important;
      
      --namesusernames: #d1f2d5 !important;
      --text: #d1f2d2 !important;
      --text-positive1: var(--green-color) !important;
      --muted: #d1f2d2 !important;
      --links: var(--alt-color2) !important;
      --button-interactive: #cbf2cc !important;
      --button-interactive-hover: var(--main-colour2) !important;
      --button-interactive-active: #b2f0bc !important;
      --button-interactive-muted: #b2f0b9 !important;
  
      --glasscord-current-style-bg: #182915d9 !important;
    }
    
    .theme-light {
      /* Main Colours - Try Keep These The Same */
      --main-colour: 165, 223, 132 !important; /* RGB ONLY */
      --main-colour2: #a5df84 !important; /* HEX ONLY */
      --main-colour3: 98 !important; /* HSL ONLY */
  
      /* Backgrounds */
      --main-background: #ebfae2 !important;
      --secondary-background: #f4fcef !important;
      --tertiary: #ffffff !important;
      --floating: #ffffff !important;
  
      --headers: #344634 !important; 
      --headers-secondary: #1c271c !important;
      
      --namesusernames: #272e28 !important;
      --text: #1f221e !important;
      --text-positive1: var(--green-color) !important;
      --muted: #181b19 !important;
      --links: var(--alt-color2) !important;
      --button-interactive: #151a15 !important;
      --button-interactive-hover: var(--main-colour2) !important;
      --button-interactive-active: #151d16 !important;
      --button-interactive-muted: #131a13 !important;
  
      --glasscord-current-style-bg: #7eeb82d9 !important;
    }
  