/*
 __  __  ___  _____  ___  ___  ___  ___  _           ___  ___  _  _  _  __
|  \/  |/   \|_   _|| __|| _ \|_ _|/   \| |         | _ \|_ _|| \| || |/ /
| |\/| || - |  | |  | _| |   / | | | - || |__       |  _/ | | | .  ||   < 
|_|  |_||_|_|  |_|  |___||_|_\|___||_|_||____|      |_|  |___||_|\_||_|\_\
*/

:root {
    --style-name: "Material Pink";
    --style-creator: "Leeprky#2063";
  }
  
  /* Material Pink */
  .theme-dark {
      /* Main Colours - Try Keep These The Same */
      --main-colour: 162, 117, 182 !important; /* RGB ONLY */
      --main-colour2: #a275b6 !important; /* HEX ONLY */
      --main-colour3: 282 !important; /* HSL ONLY */
  
      /* Backgrounds */
      --main-background: #291f2e !important;
      --secondary-background: #1a161c!important;
      --tertiary: #000000 !important;
      --floating: #110616 !important;
  
      --headers: #e0b2f0 !important; 
      --headers-secondary: #dda9f2 !important;
      
      --namesusernames: #ead1f2 !important;
      --text: #edd1f2 !important;
      --text-positive1: var(--green-color) !important;
      --muted: #efd1f2 !important;
      --links: var(--alt-color2) !important;
      --button-interactive: #e8cbf2 !important;
      --button-interactive-hover: var(--main-colour2) !important;
      --button-interactive-active: #e6b2f0 !important;
      --button-interactive-muted: #e4b2f0 !important;
  
      --glasscord-current-style-bg: #291527d9 !important;
    }
    
    .theme-light {
      /* Main Colours - Try Keep These The Same */
      --main-colour: 228, 208, 237 !important; /* RGB ONLY */
      --main-colour2: #e4d0ed !important; /* HEX ONLY */
      --main-colour3: 281 !important; /* HSL ONLY */
  
      /* Backgrounds */
      --main-background: #f4e2fa !important;
      --secondary-background: #faeffc !important;
      --tertiary: #ffffff !important;
      --floating: #ffffff !important;
  
      --headers: #403446 !important; 
      --headers-secondary: #261c27 !important;
      
      --namesusernames: #2d272e !important;
      --text: #211e22 !important;
      --text-positive1: var(--green-color) !important;
      --muted: #1a181b !important;
      --links: var(--alt-color2) !important;
      --button-interactive: #1a151a !important;
      --button-interactive-hover: var(--main-colour2) !important;
      --button-interactive-active: #1b151d !important;
      --button-interactive-muted: #19131a !important;
  
      --glasscord-current-style-bg: #e1a6edd9 !important;
    }
  