/*
 __  __  ___  _____  ___  ___  ___  ___  _           ___  ___  ___  
|  \/  |/   \|_   _|| __|| _ \|_ _|/   \| |         | _ \| __||   \ 
| |\/| || - |  | |  | _| |   / | | | - || |__       |   /| _| | |) |
|_|  |_||_|_|  |_|  |___||_|_\|___||_|_||____|      |_|_\|___||___/ 
*/

:root {
    --style-name: "Material Red";
    --style-creator: "Leeprky#2063";
  }
  
  /* Material Red */
  .theme-dark {
      /* Main Colours - Try Keep These The Same */
      --main-colour: 227, 154, 155 !important; /* RGB ONLY */
      --main-colour2: #e39a9b !important; /* HEX ONLY */
      --main-colour3: 359 !important; /* HSL ONLY */
  
      /* Backgrounds */
      --main-background: #240e0e !important;
      --secondary-background: #0c0404 !important;
      --tertiary: #000000 !important;
      --floating: #160606 !important;
  
      --headers: #f0b2b2 !important; 
      --headers-secondary: #f2a9a9 !important;
      
      --namesusernames: #f2d1d1 !important;
      --text: #f2d1d1 !important;
      --text-positive1: var(--green-color) !important;
      --muted: #f2d1d1 !important;
      --links: var(--alt-color2) !important;
      --button-interactive: #f2cbcb !important;
      --button-interactive-hover: var(--main-colour2) !important;
      --button-interactive-active: #f0b2b2 !important;
      --button-interactive-muted: #f0b2b2 !important;
  
      --glasscord-current-style-bg: #291515d9 !important;
    }
    
    .theme-light {
      /* Main Colours - Try Keep These The Same */
      --main-colour: 219, 132, 132 !important; /* RGB ONLY */
      --main-colour2: #db8484 !important; /* HEX ONLY */
      --main-colour3: 0 !important; /* HSL ONLY */
  
      /* Backgrounds */
      --main-background: #ffe1e1 !important;
      --secondary-background: rgb(255, 242, 242) !important;
      --tertiary: #ffffff !important;
      --floating: #ffffff !important;
  
      --headers: #463434 !important; 
      --headers-secondary: #271c1c !important;
      
      --namesusernames: #2e2727 !important;
      --text: #221e1e !important;
      --text-positive1: var(--green-color) !important;
      --muted: #1b1818 !important;
      --links: var(--alt-color2) !important;
      --button-interactive: #1a1515 !important;
      --button-interactive-hover: var(--main-colour2) !important;
      --button-interactive-active: #1d1515 !important;
      --button-interactive-muted: #1a1313 !important;
  
      --glasscord-current-style-bg: #eb7070d9 !important;
    }
  